<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-primary" ng-disabled="true" ng-transclude></a>

    </div>
    <div ng-show="attrs.id">
        <div ng-hide="inCart()">
            <a class="btn btn-primary"
               ng-click="ngCart.addItem(id, name, price, quantity, data)"
               ng-transclude></a>
        </div>
        <div class="alert alert-info" ng-show="inCart()">
            Este producto est&aacute; en tu cesta
        </div>
    </div>
</script>
<script type="text/ng-template" id="template/ngCart/cart.html">
    <div class="alert alert-warning" role="alert" ng-show="ngCart.totalItems() === 0">
        Tu cesta est&aacute; vac&iacute;a
    </div>

    <div class="table-responsive col-lg-12" ng-show="ngCart.totalItems() > 0">

        <table class="table table-striped ngCart cart">

            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
            </thead>
            <tfoot>
            <tr ng-show="ngCart.getTax()">
                <th></th>
                <th></th>
                <th></th>
                <th>Tax ({{ ngCart.getCart().tax }}%):</th>
                <th>{{ ngCart.getTax() | currency }}</th>
            </tr>
            <tr ng-show="ngCart.getShipping()">
                <th></th>
                <th></th>
                <th></th>
                <th>Envio:</th>
                <th>{{ ngCart.getShipping() | currency }}</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Total:</th>
                <th>{{ ngCart.totalCost() | currency }}</th>
            </tr>
            </tfoot>
            <tbody>
            <tr ng-repeat="item in ngCart.getCart().items track by $index">
                <td><span ng-click="ngCart.removeItem($index)" class="icon icon-remove"></span></td>
                <td>{{ item.getName() }}</td>
                <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                          ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                    {{ item.getQuantity() | number }}&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
                <td>{{ item.getPrice() | currency}}</td>
                <td>{{ item.getTotal() | currency }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <style>
        .ngCart.cart span[ng-click] {
            cursor: pointer;
        }

        .ngCart.cart .glyphicon.disabled {
            color: #aaa;
        }
        .carrito{
        	white-space:nowrap;
        }
        .navbar{
        	background-color:white;
        	color:white;
        }

		.logo{
			height:100px;
			width:100px;
		}
    </style>
</script>



<div class="navbar navbar-fixed-top" data-activeslide="1">
    

		<div class="container">
		
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<!-- icon-home icon-user icon-briefcase icon-heart icon-gears icon-envelope-->
			<div class="nav-collapse collapse navbar-responsive-collapse">
            	<a class="navbar-brand">
            		<img id="logoSym" src="images/logo_gran.png"><span id="logo_letras">Wifibytes</span>
            	</a>
				<ul class="nav row">
					
				</ul>
				<div class="row">
				</div>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->
	
	
	<!-- === MAIN Background === -->

	<div class="slide story carrito" id="slide-1" data-slide="1">

			<div id="wrapper">
            <section>
                <article>
        <ngcart-cart></ngcart-cart>

                </article><!-- /column2 -->
            </section>
        	</div><!-- /wrapper -->
		</div><!-- /carrito -->