    <script src="/bundles/frontend/js/contractes.js" type="text/javascript"></script>
    <div class="navbar navbar-fixed-top" data-activeslide="1">
        <div class="container">

            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- icon-home icon-user icon-briefcase icon-heart icon-gears icon-envelope-->
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <a  id="menu-link-2" href="#slide-1" title="Symphone"></a>
                <ul class="nav row">
                    <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="http://web.miguelet.ovh" title="Inicio"><span class="icon icon-home"></span><span class="text">&nbsp;Volver atr&aacute;s</span></a></li>
                    <!--li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Promociones"><span class="icon icon-star"></span> <span class="text">FORMULARIO</span></a></li>
                    <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Cat&aacute;logo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon icon-mobile-phone"></span>  &nbsp;&nbsp; <span class="text">&nbsp;CONFIRMAR PAGO</span></a></li-->
                </ul>
                <div class="row">
                    <div class="col-sm-2 active-menu"></div>
                </div>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->
    <!--        <div ng-repeat="data in myData.tarifa"

                class="col-12 col-sm-2"
                data-slide="[[ data.id ]]">
                <div class="col-sm-1 hidden-sm">&nbsp;</div>
                <div class="col-12 col-sm-2">
                    <p><h2 class="font-thin">[[data.nombretarifas]]</h2></p>
                    <h3 class="font-thin">[[ data.minutosvoz]] min/voz</h3>
                    <h2 class="font-thin" >[[ data.precio]]</h2>
                    <div class="font-thin">€/mes</div>
                </div><!-- /col12 >

            </div> -->
    <!-- === Section 1 === -->
    <div id="section1">
        <div class="container">
            <div class="title">
                <h1>Elije tu tarifa</h1>
                <br>
                <br>
            </div><!-- /title -->

            <div id="boxes" >
                <div id="tarifa[[data.id]]" class="box" ng-repeat="data in myData.tarifa">
                    <div id="secret[[data.id]]" class="secret"></div>
                    <div class="titulo_tarifa">[[ data.nombretarifas ]]<br></div>
                    <div class="detalles_tarifa">[[data.minutosvoz]] min/voz<br><br>Establecimiento de <br>llamada incluido<br><br>Sin datos</div>
                    <div class="precio_tarifa">[[ data.precio]]/mes<br></div>
                    <div class="contratar_tarifa"><input type="button" class="boton_contratar" value="Contratar" /></div>
                </div>
            </div><!-- /boxes -->

        </div><!-- /container -->
        <br><br><br><br>
    </div><!-- /Section 1 -->

    <!-- === Section 2 === -->
    <div id="section2">
        <div class="container"> <!-- http://www.conectabalear.com/contratar/ -->
            <div class="title">
                <h1>Completa tu oferta</h1>
                <br>
                <br>
            </div><!-- /title -->
            <div id="otro1" class="dentro">
                <div class="phrase">
                    <label class="pregunta">¿Número nuevo?</label>
                </div>
                <div class="option">
                    <input type="radio" id="nuevoSi" value="ok"><label>Sí, quiero un número nuevo</label>
                    <br>
                    <input type="radio" id="nuevoNo" value="no"><label>Conservar mi número (portabilidad)</label>
                </div>
            </div>
            <hr class="separador">
            <div id="otro2" class="dentro">
                <div class="phrase">
                    <label class="pregunta">Tipo de tarjeta</label>
                </div>
                <div class="option">
                        <div class="optionSelect">
                            <img id="tarj0" src="/bundles/frontend/images/contractes/sim-micro_sim.png"><br>
                            <input type="radio" id="simMicro" name="1" value="ok"><label>SIM / MicroSIM</label>
                        </div>
                        <div class="optionSelect">
                            <img id="tarj1" src="/bundles/frontend/images/contractes/nano_sim.png"><br>
                            <input type="radio" id="nano" name="1" value="no"><label>NanoSIM</label>
                        </div>

                    <br>

                </div>
                <br><br>
                <div class="phrase">
                    <label class="pregunta">Envío de tarjeta</label>
                </div>
                <div class="option">
                        <div class="optionSelect">
                            <img id="camion" src="/bundles/frontend/images/contractes/envio.png"><br>
                            <input type="radio" id="nuevoSi" name="2" value="ok"><label>Envío a domicilio</label>
                        </div>
                        <div class="optionSelect">
                            <img id="tienda" src="/bundles/frontend/images/contractes/tienda.png"><br>
                            <input type="radio" id="nuevoNo" name="2" value="no"><label>Recojer en tienda</label>
                        </div>
                </div>
            </div>
            <hr class="separador">
            <div id="otro3" class="dentro">
                <label class="pregunta">¿Quieres comprar un móvil libre para utilizar con tu nueva línea?</label><br>
                <input type="radio" id="nuevoNo" name="3" value="no"><label>No, ya tengo móvil</label><br>
                <input type="radio" id="nuevoNo" name="3" value="no"><label>Si, quiero un móvil libre</label>
            </div>
        </div><!-- /container -->
        <br><br>
    </div><!-- /Section 2 -->

    <!-- === Section 3 === -->
    <div id="section3">
        <div class="container">
            <div class="title">
                <h1>Tus datos personales</h1>
                <br>
                <br>
            </div><!-- /title -->
            <div id="register">
                <br><br>
                <form action="" method="post" name="frm">
                    <fieldset>
                        <legend>Formulario de registro</legend>
                        <div>
                            <input type="text" id="nombre" placeholder="Nombre" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"/>
                        </div>
                        <br>
                        <div>
                            <input type="text" id="apellidos" placeholder="Apellidos" ng-require="true"/>
                        </div>
                        <br>
                        <div>
                            <input type="password" id="dni" placeholder="DNI" ng-require="true"/>
                        </div>
                        <br>
                        <div>
                            <select class="selectfacturas" ng-require="true" id="pago">
                                <option value="1">Visa</option>
                                <option value="2">MasterCard</option>
                                <option value="3">American Express</option>
                            </select>
                        </div>
                        <br>
                        <div>
                            <input type="text" id="credito" placeholder="Tarjeta de credito" ng-require="true"/>
                        </div>
                        <br>
                        <input type="button" id="enviarDatos" name="sendRegister" value="Enviar"/>
                    </fieldset>
                </form>
            </div><!-- /register -->
        </div><!-- /container -->
        <br><br><br><br>
    </div><!-- /Section 3 -->

    <!-- === Section 4 === -->
    <div id="section4">         <!--  class="slide story" id="slide-10" data-slide="10" -->
        <div class="container">
            <div class="title">
                <h1>Confirmar el pago</h1>
                <br>
                <br>
            </div><!-- /title -->
            <div id="factura">
                <br>
                <form action="" method="post" name="frm">
                    <fieldset>
                        <legend>Factura del usuario</legend>
                        <div><label class="textofactura">Nombre</label><br>
                            <input type="text" name="nombre_factura" placeholder="Ana"/>
                        </div>
                        <div><label class="textofactura">Apellidos</label><br>
                            <input type="text" name="apellidos_factura" placeholder="García Torres"/>
                        </div>
                        <div><label class="textofactura">DNI</label><br>
                            <input type="password" name="dni_factura" placeholder="123456789S"/>
                        </div>

                        <div><label class="textofactura">Forma de pago</label><br>
                            <input type="text" name="factura_tarjeta" placeholder="Visa - MasterCard - AmericanExpress"/>
                        </div>

                        <div><label class="textofactura">Tarifa seleccionada</label><br>
                            <input type="text" name="tarifa_factura" placeholder="VeDa Basic"/>
                        </div>

                        <div id="advertencia" class="textofactura">*Aseg&uacute;rese de que todos los campos son correctos antes de confirmar el env&iacute;o del formulario</div><br>

                        <input type="button" id="enviarFactura" name="sendfactura" value="Enviar"/>

                    </fieldset>
                </form>
            </div><!-- /receipt -->
        </div><!-- /container -->
        <br><br><br><br>
    </div><!-- /Section 4 -->

    <script>
        function formCtrl($scope){
            $scope.onSubmit = function(){
                alert("form submitted");
            }
    </script>