<!doctype html>
<html ng-app="myApp">
<head lang="en">
	<link rel="shortcut icon" type="image/png" href="/bundles/frontend/images/logo_gran.png"/>


	<script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
	<script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

	<script src="{{ asset('/bundles/frontend/js/telefonos/dirPagination.js') }}" type="text/javascript"></script>
	//<link href="{{ asset('/bundles/frontend/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
	<!--  <script src="script.js"></script> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>wifibytes</title>
	<meta name="description" content="symphone " />
	<meta name="keywords" content="symphone">
	<meta property="og:title" content="">
	<link href="{{ asset('/bundles/frontend/fancybox/jquery.fancybox-v=2.1.5.css') }}" type="text/css" rel="stylesheet" media="screen"/>
	<link href="{{ asset('/bundles/frontend/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('/bundles/frontend/css/style.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('/bundles/frontend/css/styleFAQ.css') }}" type="text/css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
	<link rel="shortcut icon" type="image/png" href="/bundles/frontend/images/logo_gran.png"/>
	<script src="{{ asset('/bundles/frontend/js/angularjs.js') }}" type="text/javascript"></script>
	<script src="{{ asset('/bundles/frontend/ngCart-master/distr/ngCart.js') }}" type="text/javascript"></script>
	<base href="/">
<script>
	var vid = document.getElementById("bgvid");

	function vidFade() {
	  vid.classList.add("stopfade");
	}
	
	vid.addEventListener('ended', function()
	{
	// only functional if "loop" is removed 
	vid.pause();
	// to capture IE10
	vidFade();
	}); 
</script>

    <script>
		var myApp = angular.module('myApp',['ngCart']);

	myApp.controller ('myCtrl', ['$scope', '$http', 'ngCart', function($scope, $http, ngCart) {
    ngCart.setTaxRate(7.5);
    ngCart.setShipping(2.99);
    console.log (ngCart);
        
    $scope.checkout = function() {
           $scope.summary = ngCart.toObject();
           
         // Post your cart to your resource
         //$http.post('cart/', ngCart.toObject());
    }
    
}]);
	</script>
	
	<script type="text/ng-template" id="template/ngCart/summary.html">
    <div class="row">
        <div class="col-md-2">
            <svg version="1.1"  class="icon" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" xml:space="preserve">
			<path d="M27.715,10.48l-2.938,6.312c-0.082,0.264-0.477,0.968-1.318,0.968H11.831
				c-0.89,0-1.479-0.638-1.602-0.904l-2.048-6.524C7.629,8.514,8.715,7.933,9.462,7.933c0.748,0,14.915,0,16.805,0
				C27.947,7.933,28.17,9.389,27.715,10.48L27.715,10.48z M9.736,9.619c0.01,0.061,0.026,0.137,0.056,0.226l1.742,6.208
				c0.026,0.017,0.058,0.028,0.089,0.028h11.629l2.92-6.27c0.025-0.073,0.045-0.137,0.053-0.192H9.736L9.736,9.619z M13.544,25.534
				c-0.819,0-1.482-0.662-1.482-1.482s0.663-1.484,1.482-1.484c0.824,0,1.486,0.664,1.486,1.484S14.369,25.534,13.544,25.534
				L13.544,25.534z M23.375,25.534c-0.82,0-1.482-0.662-1.482-1.482s0.662-1.484,1.482-1.484c0.822,0,1.486,0.664,1.486,1.484
				S24.197,25.534,23.375,25.534L23.375,25.534z M24.576,21.575H13.965c-2.274,0-3.179-2.151-3.219-2.244
				c-0.012-0.024-0.021-0.053-0.028-0.076c0,0-3.56-12.118-3.834-13.05c-0.26-0.881-0.477-1.007-1.146-1.007H2.9
				c-0.455,0-0.82-0.364-0.82-0.818s0.365-0.82,0.82-0.82h2.841c1.827,0,2.4,1.103,2.715,2.181
				c0.264,0.898,3.569,12.146,3.821,12.999c0.087,0.188,0.611,1.197,1.688,1.197h10.611c0.451,0,0.818,0.368,0.818,0.818
				C25.395,21.21,25.027,21.575,24.576,21.575L24.576,21.575z"/>
</svg>
        </div>
        <div class="col-md-6">{{ ngCart.totalItems() }}
            <ng-pluralize count="ngCart.totalItems()" when="{1: 'Producto', 'other':'Productos'}"></ng-pluralize>
            <br/>{{ ngCart.totalCost() | currency:"&euro;" }}
        </div>
    </div>
</script>
<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-primary" ng-disabled="true" ng-transclude></a>

    </div>
    <div ng-show="attrs.id">
        <div ng-hide="inCart()">
            <a class="btn btn-primary"
               ng-click="ngCart.addItem(id, name, price, quantity, data)"
               ng-transclude></a>
        </div>
        <div class="alert alert-info" ng-show="inCart()">
            Este producto est&aacute; en tu cesta
        </div>
    </div>
</script>
<script type="text/ng-template" id="template/ngCart/cart.html">
    <div class="alert alert-warning" role="alert" ng-show="ngCart.totalItems() === 0">
        Tu cesta est&aacute; vac&iacute;a
    </div>

    <div class="table-responsive col-lg-12" ng-show="ngCart.totalItems() > 0">

        <table class="table table-striped ngCart cart">

            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
            </thead>
            <tfoot>
            <tr ng-show="ngCart.getTax()">
                <th></th>
                <th></th>
                <th></th>
                <th>Tax ({{ ngCart.getCart().tax }}%):</th>
                <th>{{ ngCart.getTax() | currency }}</th>
            </tr>
            <tr ng-show="ngCart.getShipping()">
                <th></th>
                <th></th>
                <th></th>
                <th>Envio:</th>
                <th>{{ ngCart.getShipping() | currency }}</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Total:</th>
                <th>{{ ngCart.totalCost() | currency }}</th>
            </tr>
            </tfoot>
            <tbody>
            <tr ng-repeat="item in ngCart.getCart().items track by $index">
                <td><span ng-click="ngCart.removeItem($index)" class="icon icon-remove"></span></td>
                <td>{{ item.getName() }}</td>
                <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                          ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                    {{ item.getQuantity() | number }}&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
                <td>{{ item.getPrice() | currency}}</td>
                <td>{{ item.getTotal() | currency }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <style>
        .ngCart.cart span[ng-click] {
            cursor: pointer;
        }

        .ngCart.cart .glyphicon.disabled {
            color: #aaa;
        }
        .carrito{
        	white-space:nowrap;
        }
        .navbar{
        	background-color:white;
        	color:white;
        }

		.logo{
			height:100px;
			width:100px;
		}
    </style>
</script>
</head>

<body>
	
	
	
	
	<div class="navbar navbar-fixed-top" data-activeslide="1">
		<div class=".container-fluid">
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand "><img id="logoSym" src="images/logo_gran.png"><span id="logo_letras">Wifibytes</span></a>

			<!-- icon-home icon-user icon-briefcase icon-heart icon-gears icon-envelope-->
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav nav-tabs ">
					<li data-slide="6" class="pull-right col-xs-2 btn elementosNav"><span class="text"><button class="btn btn-primary" type="button" > <span class="icon icon-user"> </span>Login
					        </button></span></span></li>
					<li class="pull-right col-xs-2 elementosNav">
						<span class="text">
							<div class="dropdown cestaNav">
					        <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span class="icon icon-shopping-cart"> </span>Cesta
					        <span class="caret"></span></button>
					        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><ngcart-summary>
      		</ngcart-summary></a></li>
					          <li role="presentation" class="divider"></li>
					          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="shopping.html">Ver carrito</a></li>
					        </ul>
					        </div>
					       </span>
					  </li>
					<li data-slide="6" class="pull-right col-xs-2 elementosNav"><a id="menu-link-6" href="#slide-6" title="Contacto"><span class="icon icon-envelope"></span> <span class="text">CONTACTO</span></a></li>
					<li data-slide="5" class="pull-right col-xs-2 elementosNav"><a id="menu-link-5" href="#slide-5" title="Cobertura"><span class="icon icon-signal"></span> <span class="text">COBERTURA</span></a></li>
					<li data-slide="4" class="pull-right col-xs-2 elementosNav"><a id="menu-link-4" href="#slide-4" title="Tarifas"><span class="icon icon-phone"></span> <span class="text">TARIFAS</span></a></li>
					<li data-slide="3" class="pull-right col-xs-2 elementosNav"><a id="menu-link-3" href="#slide-3" title="Cat&aacute;logo"><span class="icon icon-mobile-phone"></span> <span class="text">CATALOGO</span></a></li>
					<li data-slide="2" class="pull-right col-xs-2 elementosNav"><a id="menu-link-2" href="#slide-2" title="Promociones"><span class="icon icon-star"></span> <span class="text">PROMOCIONES</span></a></li>
					<li data-slide="1" class="pull-right col-xs-2 elementosNav"><a id="menu-link-1" href="#slide-1" title="Inicio"><span class="icon icon-home"></span><span class="text">INICIO</span></a></li>

				</ul>
			</div><!-- /.nav-collapse -->
		</div>
	</div><!-- /.navbar -->
	<div class="slide story">
	<div class="container">
		<div class="row title-row">
				<div class="col-12 font-promociones">Preguntas y respuestas de telefon&iacute;a m&oacute;vil</div>
		</div>
		<br>
		<br>
	<div class="ContainerPreguntas">
						<label class="numberPreg">1.</label> <a href="#r1">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">2.</label> <a href="#r2">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">3.</label> <a href="#r3">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">4.</label> <a href="#r4">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">5.</label> <a href="#r5">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">6.</label> <a href="#r6">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">7.</label> <a href="#r7">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">8.</label> <a href="#r8">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">9.</label> <a href="#r9">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">10.</label> <a href="#r10">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">11.</label> <a href="#r11">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">12.</label> <a href="#r12">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">13.</label> <a href="#r13">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">14.</label> <a href="#r14">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">15.</label> <a href="#r15">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">16.</label> <a href="#r16">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">17.</label> <a href="#r17">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">18.</label> <a href="#r18">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">19.</label> <a href="#r19">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">20.</label> <a href="#r20">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">21.</label> <a href="#r21">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">22.</label> <a href="#r22">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">23.</label> <a href="#r23">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">24.</label> <a href="#r24">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">25.</label> <a href="#r25">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">26.</label> <a href="#r26">¿Tendré cobertura fuera de las Islas Baleares?</a><br>
						<label class="numberPreg">27.</label> <a href="#r27">¿Tendré cobertura fuera de las Islas Baleares?</a>
					</div>
					<hr class='separador_post'/>
					<div class="containerRespuestas">
						<label id="r1">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r2">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r3">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r4">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r5">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r6">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r7">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r8">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r9">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r10">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r11">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r12">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r13">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r14">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r15">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r16">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r17">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r18">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r19">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r20">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r21">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r22">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r23">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r24">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r25">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r26">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
						<label id="r27">¿Tendré cobertura fuera de las Islas Baleares?</label>
						<p class="respuesta">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el 99% del territorio Español y en la mayoría de países del resto del mundo.</p>
						<br>
					</div>
				</div>
	</div>
	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
			<h3>Cesta</h3>

    <ngcart-cart></ngcart-cart>
    <a class="btn btn-lg btn-primary" ng-click="checkout()">Resumen</a>

    <hr/>
		</div><!-- /container -->
	</div><!-- /Slide 6 -->
	
</body>

	<!-- SCRIPTS -->
	<script src="js/html5shiv.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
	<script src="js/script.js"></script>
	
	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );
		
		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
	
	});
	</script>

</html>