<div class="navbar navbar-fixed-top" data-activeslide="1">
    <div class="container">

        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- icon-home icon-user icon-briefcase icon-heart icon-gears icon-envelope-->
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <a id="menu-link-1" href="http://web.miguelet.ovh" title="Symphone"><img id="logoSym"
                                                                                     ng-src="/bundles/frontend/images/logo_gran.png"></a>
            <label id="logo_letras">Wifibytes</label>
            <ul class="nav row">
                <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="http://web.miguelet.ovh"
                                                              title="Inicio"><span class="icon icon-home"></span><span
                        class="text">&nbsp;Volver atr&aacute;s</span></a></li>
            </ul>
            <div class="row">
                <div class="col-sm-2 active-menu"></div>
            </div>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div><!-- /.navbar -->

<!--SmartPhones -->
<div class="slide story backgroundTelefonos">
    <div class="container">
        <!-- Menu Filtrar -->
        <aside class="MenuFiltrar">
            <div class="CajaMenuFiltrar">
                <div class="TituloFiltrar">Filtrar por:</div>
                <div class="Marca"><label class="textoMarcas">Marca</label></div>

                <div class="textoFiltros">
                    <form>
                        <div class="marca1">
                            <input type="radio" name="1" value="Xiaomi" ng-model="marca"/> <label>Xiaomi</label>
                        </div>
                        <div class="marca2">
                            <input type="radio" name="2" value="BQ" ng-model="marca"/> <label>BQ</label>
                        </div>
                        <div class="marca3">
                            <input type="radio" name="3" value="Wiko" ng-model="marca"/> <label>Wiko</label>
                        </div>
                        <div class="marca4">
                            <input type="radio" name="4" value="Samsung" ng-model="marca"/> <label>Samsung</label>
                        </div>
                        <div class="marca5">
                            <input type="radio" name="5" value="Motorola" ng-model="marca"/> <label>Motorola</label>
                        </div>
                        <div class="marca6">
                            <input type="radio" name="6" value="Sony" ng-model="marca"/> <label>Sony</label>
                        </div>
                        <div class="marca7">
                            <input type="radio" name="7" ng-model="marca" ng-checked="true"/> <label>Todos</label>
                        </div>
                    </form>
                    <label class="textoPrecio">Precio</label>

                    <div class="Precio">
                        <div class="slider">
                            <form>
                                <input class="precioslider" name="ValueSlider" type="range" min="0" max="800"
                                       oninput="rangevalue.value=value"/>
                                <input type="text" id="rangevalue" value="400"
                                       oninput="this.form.ValueSlider.value=this.value"/>
                            </form>
                        </div>
                    </div>
                    <label class="textoPulgadas">Pulgadas</label>

                    <div class="pulgadas">
                        <select class="SelectPulgadas" ng-model="pulgadas.pulgadas">
                            <option value="">Todas</option>
                            <option value="1">1"</option>
                            <option value="2">2"</option>
                            <option value="3">3"</option>
                            <option value="4">4"</option>
                            <option value="5">5"</option>
                            <option value="6">6"</option>
                        </select>
                    </div>
                </div>

            </div>
        </aside>
        <!-- assi anira menu filtrar-->
        <div class="row title-row">
            <div class="col-12 font-promociones tituloTelefonos">M&oacute;viles y SmartPhones</div>
        </div>
        <!-- /row -->
        <!-- /row -->
        <div class="row content-row">
            <div class="Buscador">Buscar: <input type="text" ng-model="buscar.nombre " id="buscador"
                                                 placeholder="Nombre móvil/smartphone"  /></div>

                       <div id="contenedorTelefonos" class="col-12 col-lg-3 col-sm-6">
                           <div ng-repeat="data in myData.smartphone  | filter:marca | filter:buscar |  filter:pulgadas |
                           startFrom:(currentPage)*entryLimit | limitTo:entryLimit"
                                class="CajaTelefono">
                               <label class="col-12 font-moviles">[[data.nombre]]</label>
                               <img class="ImgMovil" ng-src="/bundles/frontend/images/promociones/prueba_promo1.jpg">
                               <label class="PrecioMovil">[[data.precio]]</label> <label class="euro">€</label><br>
                               <input class="Masinfo" type="button" value="+ info">
                               <input class="Comprar" type="button" value="Comprar">
                           </div>
                       </div>
                       <
                   </div>
                   <!-- /row -->
        <!-- aasta asi-->






        <div class="pagination pagination-centered divPagination" >
            <ul class="pagination-controle pagination">
                <li>
                    <button type="button" class="btn btn-primary" ng-disabled="currentPage == 0"
                            ng-click="currentPage=currentPage-1"> &lt; ANTERIOR
                    </button>
                </li>
                <li>

                    <span>Página [[currentPage + 1 ]] de [[ noOfPages  ]]</span>
                </li>
                <li>
                    <button type="button" class="btn btn-primary"
                            ng-disabled="currentPage >= noOfPages -1 "
                            ng-click="currentPage = currentPage+1">SIGUIENTE &gt;</button>
                </li>
            </ul>
        </div>


    </div>



    <!-- /container -->
</div>
<!-- /SmartPhones -->
