<script type="text/ng-template" id="template/ngCart/summary.html">
    <div class="row">
        <div class="col-md-2">
            <svg version="1.1"  class="icon" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" xml:space="preserve">
			<path d="M27.715,10.48l-2.938,6.312c-0.082,0.264-0.477,0.968-1.318,0.968H11.831
				c-0.89,0-1.479-0.638-1.602-0.904l-2.048-6.524C7.629,8.514,8.715,7.933,9.462,7.933c0.748,0,14.915,0,16.805,0
				C27.947,7.933,28.17,9.389,27.715,10.48L27.715,10.48z M9.736,9.619c0.01,0.061,0.026,0.137,0.056,0.226l1.742,6.208
				c0.026,0.017,0.058,0.028,0.089,0.028h11.629l2.92-6.27c0.025-0.073,0.045-0.137,0.053-0.192H9.736L9.736,9.619z M13.544,25.534
				c-0.819,0-1.482-0.662-1.482-1.482s0.663-1.484,1.482-1.484c0.824,0,1.486,0.664,1.486,1.484S14.369,25.534,13.544,25.534
				L13.544,25.534z M23.375,25.534c-0.82,0-1.482-0.662-1.482-1.482s0.662-1.484,1.482-1.484c0.822,0,1.486,0.664,1.486,1.484
				S24.197,25.534,23.375,25.534L23.375,25.534z M24.576,21.575H13.965c-2.274,0-3.179-2.151-3.219-2.244
				c-0.012-0.024-0.021-0.053-0.028-0.076c0,0-3.56-12.118-3.834-13.05c-0.26-0.881-0.477-1.007-1.146-1.007H2.9
				c-0.455,0-0.82-0.364-0.82-0.818s0.365-0.82,0.82-0.82h2.841c1.827,0,2.4,1.103,2.715,2.181
				c0.264,0.898,3.569,12.146,3.821,12.999c0.087,0.188,0.611,1.197,1.688,1.197h10.611c0.451,0,0.818,0.368,0.818,0.818
				C25.395,21.21,25.027,21.575,24.576,21.575L24.576,21.575z"/>
</svg>
        </div>
        <div class="col-md-6">[[ ngCart.totalItems() ]]
            <ng-pluralize count="ngCart.totalItems()" when="{1: 'Producto', 'other':'Productos'}"></ng-pluralize>
            <br/>[[ ngCart.totalCost() | currency:"&euro;" ]]
        </div>
    </div>
</script>

<!-- este div se ocultara en el telefono pero en tables i en pc aparecera-->
<div id="menu-izquierda-princi" class="hidden-sm hidden-md menu-lateral">
    <li ng-repeat="data in myData.menu  " data-slide="[[ data.id ]]"

            ><a  click="#slide-[[ data.id ]]" title="[[data.nombre]]"><span
            class="icon [[data.icono]]"></span> <span class="text">[[data.nombre]]</span></a></li>
</div>


<div class="navbar navbar-fixed-top" data-activeslide="1">
    <div class=".container-fluid">
        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand "><img id="logoSym" ng-src="/bundles/frontend/images/logo_gran.png"><span
                id="logo_letras">Wifibytes</span></a>

        <!-- icon-home icon-user icon-briefcase icon-heart icon-gears icon-envelope-->
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav nav-tabs ">
                <li data-slide="6" class="pull-right col-xs-2 btn elementosNav"><span class="text"><button
                        class="btn btn-primary" type="button"><span class="icon icon-user"> </span>Login
                </button></span></span></li>
                <li class="pull-right col-xs-2 elementosNav">
						<span class="text">
							<div class="dropdown cestaNav">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="menu1"
                                        data-toggle="dropdown"><span class="icon icon-shopping-cart"> </span>Cesta
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
                                        <ngcart-summary>
                                        </ngcart-summary>
                                    </a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="http://web.miguelet.ovh/resumen">Ver
                                        carrito</a></li>
                                </ul>
                            </div>
					       </span>

                </li>



                <li ng-repeat="data in myData.menu | orderBy:'id' : true " data-slide="[[ data.id ]]"
                    class="pull-right col-xs-2 elementosNav"
                        ><a id="menu-link-[[ data.id ]]" click="#slide-[[ data.id ]]" title="[[data.nombre]]"><span
                        class="icon [[data.icono]]"></span> <span class="text">[[data.nombre]]</span></a></li>




                <!--


                                                    <li data-slide="6" class="pull-right col-xs-2 elementosNav"><a id="menu-link-6" click="#slide-6" title="Contacto"><span class="icon icon-envelope"></span> <span class="text">CONTACTO</span></a></li>
                                                    <li data-slide="5" class="pull-right col-xs-2 elementosNav"><a id="menu-link-5" click="#slide-5" title="Cobertura"><span class="icon icon-signal"></span> <span class="text">COBERTURA</span></a></li>
                                                    <li data-slide="4" class="pull-right col-xs-2 elementosNav"><a id="menu-link-4" click="#slide-4" title="Tarifas"><span class="icon icon-phone"></span> <span class="text">TARIFAS</span></a></li>
                                                    <li data-slide="3" class="pull-right col-xs-2 elementosNav"><a id="menu-link-3" click="#slide-3" title="Cat&aacute;logo"><span class="icon icon-mobile-phone"></span> <span class="text">CATALOGO</span></a></li>
                                                    <li data-slide="2" class="pull-right col-xs-2 elementosNav"><a id="menu-link-2" click="#slide-2" title="Promociones"><span class="icon icon-star"></span> <span class="text">PROMOCIONES</span></a></li>
                                                    <li data-slide="1" class="pull-right col-xs-2 elementosNav"><a id="menu-link-1" click="#slide-1" title="Inicio"><span class="icon icon-home"></span><span class="text">INICIO</span></a></li>
                -->
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
</div><!-- /.navbar -->


<!-- === Arrows === -->
<div id="arrows">
    <div id="arrow-up" class="disabled"></div>
    <div id="arrow-down"></div>
    <div id="arrow-left" class="disabled visible-lg"></div>
    <div id="arrow-right" class="disabled visible-lg"></div>
</div><!-- /.arrows -->


<script>
    var vid = document.getElementById("bgvid");

    function vidFade() {
        vid.classList.add("stopfade");
    }

    vid.addEventListener('ended', function () {
        // only functional if "loop" is removed
        vid.pause();
        // to capture IE10
        vidFade();
    });
</script>

<!-- === MAIN Background === -->
<video autoplay id="bgvid" loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://aribera.ovh/resources/videos/tioraroarboles.mov"
            type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
</video>


<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
        <div class="row clearfix">
            <div class="">
                <h1 class="font-titulo">Telefon&iacute;a m&oacutevil a tu alcance</h1>
                <h4 class="font-semibold">Donde t&uacute; quieras estar</h4>
                <br>
                <br>
            </div>
            <!-- /col-12 -->
        </div>
        <!-- /row -->
        <div id="home-row-2" class="row clearfix">
            <div class="tarifasPromo1 col-14 col-sm-5" >
                <a ng-href="http://web.miguelet.ovh/contractes">
                    <div id="container1">
                        <span class="tituloPromo" >VeDa mini</span><br><br>
                        <span class="importantePromo">100&nbsp;</span><span
                            class="textoPromo1">minutos de voz</span><br>
                        <span class="textoPromo2">Sin establecimiento de llamada</span><br>
                        <span class="precioPromo">7,50€/<span class="precioPromo2">mes</span></span>
                    </div>
                </a>
            </div>
            <div  class="col-14 col-sm-2"></div>
            <div class="tarifasPromo2 col-11 col-sm-5">
                <div id="container2">
                    <span class="tituloPromo">VeDa Gold</span><br><br>
                    <span class="importantePromo">1,5GB</span><span class="textoPromo1"> para lo que quieras</span><br>
                    <span class="textoPromo2">Navega sin l&iacute;mites</span><br>
                    <span class="precioPromo">22,95€/<span class="precioPromo2">mes</span></span>
                </div>
            </div>
            <!--div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="images/s02.png"></div><span class="TextInfo">SIN ESTABLECIMIENTO</span></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="images/s01.png"></div><span class="TextInfo2">TARIFAS</span></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="images/s03.png"></div><span class="TextInfo">SMARTPHONES</span></div-->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div><!-- /slide1 -->


<!-- === Slide 2 === -->

<div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-promociones">Descubre nuestras &uacute;ltimas promociones</div>
        </div>
        <!-- /row -->
        <!-- /row -->
        <div class="row content-row">
            <div class="col-12 col-lg-3 col-sm-6">
                <div class="promociones_caja">
                    <p class="promociones_nombre">Xiaomi Mi3</p>

                    <div class="promociones_imagen"><img
                            ng-src="/bundles/frontend/images/promociones/prueba_promo4.jpg"></div>
                    <div class="promociones_precio">
                        <div class="promociones_precio_titulo">
                            Precio
                        </div>
                        <div class="promociones_precio_cantidad">
                            350€
                        </div>
                    </div>
                    <input class="promociones_boton" type="button" value="Comprar"/>
                </div>
                <!--p><i class="icon icon-eye-open"></i></p>
                <h2 class="font-thin">Visual <span class="font-semibold">Identity</span></h2>
                <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4-->
            </div>
            <!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <div class="promociones_caja">
                    <p class="promociones_nombre">BQ Aquaris E4</p>

                    <div class="promociones_imagen"><img
                            ng-src="/bundles/frontend/images/promociones/prueba_promo1.jpg"></div>
                    <div class="promociones_precio">
                        <div class="promociones_precio_titulo">
                            Precio
                        </div>
                        <div class="promociones_precio_cantidad">
                            135€
                        </div>
                    </div>
                    <input class="promociones_boton" type="button" value="Comprar"/>
                </div>
            </div>
            <!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <div class="promociones_caja">
                    <p class="promociones_nombre">Wiko Darkmoon</p>

                    <div class="promociones_imagen"><img
                            ng-src="/bundles/frontend/images/promociones/prueba_promo2.jpg"></div>
                    <div class="promociones_precio">
                        <div class="promociones_precio_titulo">
                            Precio
                        </div>
                        <div class="promociones_precio_cantidad">
                            180€
                        </div>
                    </div>
                    <input class="promociones_boton" type="button" value="Comprar"/>
                </div>
            </div>
            <!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <div class="promociones_caja">
                    <p class="promociones_nombre">Wiko Highway</p>

                    <div class="promociones_imagen"><img
                            ng-src="/bundles/frontend/images/promociones/prueba_promo3.jpg"></div>
                    <div class="promociones_precio">
                        <div class="promociones_precio_titulo">
                            Precio
                        </div>
                        <div class="promociones_precio_cantidad">
                            275€
                        </div>
                    </div>
                    <input class="promociones_boton" type="button" value="Comprar"/>
                </div>
            </div>
            <!-- /col12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div><!-- /slide2 -->

<!-- === SLide 3 - Portfolio -->
<div class="slide story" id="slide-catalogo" data-slide="3">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-promociones">Cat&aacutelogo WifiBytes</div>
        </div>
        <div class="row content-row">

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="col-12 font-catalogo">Smartphones</div>
                <h2 class="font-thin">Terminales actuales</h2>
                <h4 class="font-thin">Elige el tel&eacutefono que mejor se adapte a ti</h4>
            </div>

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="catalogo_caja">
                    <p class="catalogo_nombre">Smartphone1</p>

                    <div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo3.jpg">
                    </div>
                    <input class="catalogo_boton" type="button" value="+ Info"/>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="catalogo_caja">
                    <p class="catalogo_nombre">Smartphone2</p>

                    <div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo3.jpg">
                    </div>
                    <input class="catalogo_boton" type="button" value="+ Info"/>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-6">
                <div class="col-12 font-catalogo">En pruebas</div>
                <h4 class="font-thin">Colocar acceso a cat&aacutelogo de Smartphones aqu&iacute</h4>
            </div>
        </div>
        <div class="row content-row">

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="col-12 font-catalogo">Tablets</div>
                <h2 class="font-thin">Navega por Internet a lo grande</h2>
                <h4 class="font-thin">Tablets de confianza elegidos por Wifibytes</h4>
            </div>

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="catalogo_caja">
                    <p class="catalogo_nombre">Tablet1</p>

                    <div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo1.jpg">
                    </div>
                    <input class="catalogo_boton" type="button" value="+ Info"/>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="catalogo_caja">
                    <p class="catalogo_nombre">Tablet2</p>

                    <div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo1.jpg">
                    </div>
                    <input class="catalogo_boton" type="button" value="+ Info"/>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="col-12 font-catalogo">En pruebas</div>
                <h4 class="font-thin">Colocar acceso a cat&aacutelogo de Tablets aqu&iacute</h4>
            </div>
        </div>
        <div class="row content-row">

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="col-12 font-catalogo">Accesorios</div>
                <h2 class="font-thin">Para todo nuestro cat&aacutelogo</h2>
                <h4 class="font-thin">Personaliza tu dispositivo con nuestros productos</h4>
            </div>
            <div class="col-12 col-lg-3 col-sm-6">
                <div class="catalogo_caja">
                    <p class="catalogo_nombre">Accesorios1</p>

                    <div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo4.jpg">
                    </div>
                    <input class="catalogo_boton" type="button" value="+ Info"/>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="catalogo_caja">
                    <p class="catalogo_nombre">Accesorios2</p>

                    <div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo4.jpg">
                    </div>
                    <input class="catalogo_boton" type="button" value="+ Info"/>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-sm-6">
                <div class="col-12 font-catalogo">En pruebas</div>
                <h4 class="font-thin">Colocar acceso a cat&aacutelogo de accesorios aqu&iacute</h4>
            </div>
        </div>
    </div>
    <!-- /row -->
</div><!-- /container -->

<!-- === Slide 4 - Process === -->


<div class="slide story" id="slide-4" data-slide="4">
    <div class="container">
        <div class="row title-row">

            <div class="col-12 font-tarifas">Tarifas Wifibytes</span></div>
        </div>
        <!-- /row-->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-thin">Sin establecimiento de llamada, para siempre</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <div ng-repeat="data in myData.tarifa"

             class="col-12 col-sm-2"
             data-slide="[[ data.id ]]">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2">
                <p>

                <h2 class="font-thin">[[data.nombretarifas]]</h2></p>
                <h3 class="font-thin">[[ data.minutosvoz]] min/voz</h3>

                <h2 class="font-thin">[[ data.precio]]</h2>

                <div class="font-thin">€/mes</div>
            </div>
            <!-- /col12 -->

        </div>

        <!--div class="row title-row">

            <div class="col-12 font-tarifas">Tarifas Wifibytes</span></div>
        </div><!-- /row>
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-thin">Sin establecimiento de llamada, para siempre</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row >
        <div class="row content-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2">
                <p><h2 class="font-thin">Ve Bono Basic</h2></p>
                <h2 class="font-thin">100 min/voz</h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
            </div><!-- /col12 >
            <div class="col-12 col-sm-2">
                <p><h2 class="font-thin">Ve Bono Silver</h2></p>
                <h2 class="font-thin">300 min/voz</h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
            </div><!-- /col12 >
            <div class="col-12 col-sm-2">
                <p><h2 class="font-thin">VeDa Mini</h2></p>
                <h2 class="font-thin">300 MB</h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
            </div><!-- /col12 >
            <div class="col-12 col-sm-2">
                <p><h2 class="font-thin">VeDa Basic</h2></p>
                <h2 class="font-thin">1,2 GB</h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
            </div><!-- /col12 >
            <div class="col-12 col-sm-2">
                <p><h2 class="font-thin">VeDa Silver</h2></p>
                <h2 class="font-thin">1,2 GB</h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
            </div><!-- /col12 -->
        <!--div class="col-12 col-sm-2">
                <p><h2 class="font-thin">VeDa Gold</h2></p>
                <h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
        </div--><!-- /col12 -->
        <!--div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div--><!-- /row -->
    </div>
    <!-- /container -->
</div><!-- /slide4 -->

<!-- === Slide 5 === -->
<div class="slide story" id="slide-5" data-slide="5">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-promociones">Cobertura</div>
        </div>
        <!-- /row -->
        <div class="row line-row">
            <img ng-src="/bundles/frontend/images/WifiBytesCobertura.png">
        </div>
        <!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <h4 class="cobertura_texto">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el
                <span class='porcentaje_cobertura'>99%</span> del territorio Español y en la mayoría de países del resto
                del mundo.<br><br> Si quieres consultar la cobertura de una zona concreta del mapa, <a
                        href="http://mapacobertura.orange.es/GMAPSCOV_v312_UMTS/" target="_blank"><span
                        class='enlace_cobertura'>pulsa aquí.</span></a></h4><br>
            <br>
            <br>
            <img ng-src="/bundles/frontend/images/SpainWifiBytes.png">

            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <!-- /row -->
        <!--div class="row content-row">
                <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
                <div class="col-12 col-sm-2"><img src="images/client01.png" alt=""></div>
                <div class="col-12 col-sm-2"><img src="images/client02.png" alt=""></div>
                <div class="col-12 col-sm-2"><img src="images/client03.png" alt=""></div>
                <div class="col-12 col-sm-2"><img src="images/client04.png" alt=""></div>
                <div class="col-12 col-sm-2"><img src="images/client05.png" alt=""></div>
                <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
        </div--><!-- /row -->
    </div>
    <!-- /container -->
</div><!-- /slide5 -->

<!-- === Slide 6 / Contact === -->
<div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-light">D&eacutejenos un mensaje</div>
        </div>
        <!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">Puede encontrarnos en cualquiera de las siguientes plataformas
            </div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <!-- /row -->

        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="icon [[  myData.contacto[0].icono_tlf]]"></i></a></p>
            <span class="hover-text font-light ">[[  myData.contacto[0].tlf]]</span></a>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="icon [[  myData.contacto[0].icono_email]]"></i></a></p>
            <span class="hover-text font-light ">[[  myData.contacto[0].email]]</span></a>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
            <span class="hover-text font-light ">London, England<br>zip code 98443</span></a>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="icon [[ myData.contacto[0].icono_facebook]]"></i></a></p>
            <span class="hover-text font-light ">[[  myData.contacto[0].facebook]]</span></a>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="icon [[myData.contacto[0].icono_twitter]]"></i></a></p>
            <span class="hover-text font-light ">[[  myData.contacto[0].twitter]]</span></a>

            <!--<div class="col-12 col-sm-2 with-hover-text">
                    <p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
                    <span class="prueba">Pruebas de texto</span></a>-->


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div><!-- /Slide 6 -->