{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <span class="hidden" id="fosuserbundle-errors">{{ error|trans }}</span>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="navbar-form navbar-right" role="form">
    <div class="form-group">
        <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
        <input class="form-control" id="username" name="_username" placeholder="{{ 'security.login.username'|trans }}" required="required" type="text" value="{{ last_username }}">
    </div>
    <div class="form-group">
        <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" type="password">
    </div>

    <div class="form-group">
        <label class="sr-only" for="email">{{ 'security.login.email'|trans }}</label>
        <input class="form-control" id="email" name="_email" placeholder="{{ 'security.login.email'|trans }}" required="required" type="password">
    </div>

    <div class="checkbox">
        <label class="text-muted">
            <input id="remember_me" name="_remember_me" type="checkbox" value="on"> {{ 'security.login.remember_me'|trans }}
        </label>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <button class="btn btn-primary" id="_submit" name="_submit" type="submit">{{ 'security.login.submit'|trans }}</button>
</form>

