/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Munter - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */
 

@font-face{
	font-family:"Encrypted";
	src: url('../font/Encrypted.ttf') format("truetype");
}

@font-face{
	font-family:"letra";
	src: url("../font/letra.ttf") format("truetype");
}

@font-face{
	font-family:"alpha_echo";
	src: url("../font/alpha_echo.ttf") format("truetype");
}


.font-thin {
	font-family: alpha_echo, "Titillium Web", sans-serif;
	font-weight: 200;
	color: black !important;
}

.font-intro {
	font-family: "letra", "Titillium Web", sans-serif;
	font-weight: 200;
	color: black !important;
}

.font-semibold {
	font-family: "letra","Titillium Web", sans-serif;
	font-weight: 600;
	color: black !important;
}

.font-titulo{
	font-family: "Encrypted", "Titillium Web", sans-serif;
	font-weight: 600;
	font-size:92px !important;
	text-shadow: -2px -2px 1px #fee404, 2px 2px 1px #fee404, -2px 2px 1px #fee404, 2px -2px 1px #fee404;
	color: #2e2e2e !important;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

* {
	position: relative;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}

.justify-text {
	text-align: justify;
}

.navbar {
	background-color: #bfbfbf;
	background-color: black; /*rgba( 228, 230, 229, .85 )*/
	border-bottom: 0 none;
	font-size: 12px;
	transition: .25s all linear;
}

.navbar.inv {
	background-color: rgba( 0, 0, 0, .5 );
	border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
	color: #fee404;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	transition: all .5 linear;
}

.navbar.inv a {
	color: #fee404;
}


.navbar-responsive-collapse {
	margin: 0 auto;
	width: 80%;
}

.nav .col-12 col-sm-2 {    
        margin-left: 25px;
	text-align: center;
	white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

.navbar-brand {
	padding: 8px;
}

.active-menu {
	background-color: #fee404;
	content: '.';
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .5 linear;
	width: 1%;
	z-index: 9;
}

.inv .active-menu {
	background-color: #fee404;
}

.special-active-menu {
	z-index: 10;
}

#special-active-menu-1,
#special-active-menu-6 {
	background-color: #e4e6e5 !important;
}

#special-active-menu-2 {
	background-color: #e4e6e5 !important;
}

#special-active-menu-3 {
	background-color: #e4e6e5 !important;
}

#special-active-menu-4 {
	background-color: #e4e6e5 !important;
}

#special-active-menu-5 {
	background-color: #e4e6e5 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
	#slide-4 .content-row h2 {
		min-height: 6em;
	}
}

@media (max-width: 767px) {
	
	.nav li {
		text-align: left;
		white-space: nowrap;
	}
	
	.navbar-responsive-collapse  {
		width: 100%;
	}
	
	.active-menu {
		display: none !important;
	}
	
	.navbar-toggle {
		margin-right: 10px;
	}
	
	.navbar {
		background-color: #e4e6e5 !important;
		padding: 0;
	}
	
	.navbar .nav a {
		color: #e4e6e5;
		font-size: 16px;
		padding-left: 0;
	}
	
	.icon {
		margin-right: 12px;
	}
			
	.nav li[data-slide="1"],
	.nav li[data-slide="6"] {
		background-color: #2f2f2f;
	}
	
	.nav li[data-slide="2"] {
		background-color: #fee404;
	}
	
	.nav li[data-slide="3"] {
		background-color: #e74c3c;
	}
	
	.nav li[data-slide="4"] {
		background-color: #34495e;
	}
	
	.nav li[data-slide="5"] {
		background-color: #e67e22;
	}
	
	.navbar-brand {
		margin: 0;
		text-align: left;
	}
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 65px;
	padding-top: 50px;
	text-align: center;
}

#caracteristicas {	        
        background-color: white;
	color: #000;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;

            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100%;
	background-attachment: relative;
	background-position: center center;
        padding-top: 80px;
}

#caracteristicas h1 {
	padding-top: 130px;
}

/////Smartphone

#menu-link-0{
    //border: 1px solid red;
}

.smartphone{
    display: block;
    position: relative;
    top: 6px;
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 44px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#price{
        font-size: 28px;
        font-weight: bold;
}

#buy{
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    color: yellow;
}
#buy:hover{
    background-color: #34495e;
}

.container{
        //border: 1px solid green;        
}

#imgSmartphone{
        //border: 1px solid red;
        width: 60%;
        min-height: 600px;
        margin-top: 2%;          
        background-image: url('/bundles/frontend/images/smartphones/xiaomi-mi3.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
}

#caractSmartphone {
        //border: 1px solid red;
        width: 40%;
        min-height: 600px;
        margin-top: 2%;
        margin-left: 12px;
        padding-top: 15px;
        display: inline-block;
        vertical-align: top;
}

dl{
    //padding-left: 80px;
    //text-align: left;
    font-size: 16px;
}

@media (max-width: 991px) {
	#caracteristicas {
		background-position: -70% 0, 170% 0;
	}
}

@media (max-width: 767px) {
	#caracteristicas {
		background-image: none;
	}
}

@media (max-width: 767px) {
	#imgSmartphone,
	#caractSmartphone {
		padding-top: 16px;
	}
	
	#imgSmartphone h1 {
		font-size: 35px;
	}
	
	#imgSmartphone h4 {
		font-size: 21px;
	}
	
	#caractSmartphone {
		font-size: 16px;
	}
}

#disenio {    
        background-color: #fff;
	border-top:5px solid #000000;
	color: #e4e6e5;
	padding-top: 20px;
}

#designSmartphone{
        width: 100%;
        min-height: 600px;	
        background-image: url('/bundles/frontend/images/smartphones/xiaomi_mi3_parts.jpg');
        background-size: 100% 100%;
}

.title-row {
        font-size: 45px;
        padding-bottom: 50px;
}

.line-row .hr {
        background-color: #fee404;
        height: 5px;
        margin: 0 auto;
        width: 33%;
}

.subtitle-row {
        font-size: 35px;
        padding-bottom: 40px;
        padding-top: 40px;
}

.content-row {
        padding-top: 45px;
}

.content-row i,
#about-row-5 i {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
}

.content-row h2 {
        font-size: 28px;
        padding-bottom: 40px;
}

.content-row h4 {
        font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 20px;
        font-weight: 300;
}

i {
        font-size: 80px;
        color: white;
}
	

@media (max-width: 767px) {
	.title-row {
		font-size: 34px;
		padding-bottom: 33px;
	}
	
	.subtitle-row {
		font-size: 26px;
		padding-bottom: 26px;
		padding-top: 26px;
	}
	
	.content-row {
		padding-top: 29px;
	}
	
	.content-row h2 {
		font-size: 24px;
		padding-bottom: 26px;
	}
	
	.content-row h4 {
		font-size: 20px;
	}
}

#especificaciones {
	background-color: #fff;
	border-top:5px solid #000000;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	text-align: left;
	width: 100%;
}
	
#especificaciones .col-12 {
        display: inline-block;
        height: 451px;
        margin: 0;
        padding: 0;
        width: 452px;
}

#especificaciones h3{
        width: 370px;        
        margin: 0 auto;
        margin-top: 50px; 
        font-size: 25px;
        font-weight: bold;
}

#cont{
        padding-left: 10%;
}

#one{
        width: 45%;
        min-height: 400px;
        margin-top: 2%;      
        padding-top: 45px;
        display: inline-block;
}

#two {
        width: 45%;
        min-height: 400px;
        margin-top: 2%;
        margin-left: 12px;
        padding-top: 45px;
        display: inline-block;
        vertical-align: top;
}
	
@media (max-width: 991px) {
	#especificaciones {
		text-align: center;
		width: 100%;
	}
	
	#especificaciones .row {
		left: 0 !important;
		margin: 0;
		width: 100% !important;
	}
	
	#especificaciones .col-12 {
		height: auto;
		width: 50%
	}

	#especificaciones a,
	#especificaciones img {
		height: auto;
		max-height: 100%;
		max-width: 100%;
		width: auto;
	}
}
	
@media (max-width: 767px) {
	#especificaciones .col-12 {
		width: 100%;
	}
}

#slide-4 {
	background: url('../images/wall2.jpg');
	border-top:5px solid #fee404;
	border-bottom:5px solid #fee404;
	color: #e4e6e5;
	padding-top: 90px;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

#slide-4 i {
		font-size: 80px;
		color: white;
	}


#slide-5 {
	background: url('../images/wall4.jpg');
	border-bottom:5px solid #fee404;
	color: white;
	
	padding-top: 90px;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

.row .textoSlide5{
	text-shadow: 2px 2px #000000 !important;
}

#slide-6 {
	background-color: #2f2f2f;
	color: #e4e6e5;
	padding-bottom: 350px;
	padding-top: 90px;
}

@media (max-width: 767px) {
	#slide-6 {
		background-image: none;
	}
}
	
	#slide-6 .line-row .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}

	#slide-6 a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}

@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 2em;
		margin-top: 1em;
	}
}
	
	#contact-row-4 {
		padding-top: 125px;
	}
	
	#contact-row-4 .col-12 {
		height: 175px;
		overflow: hidden;
		padding-top: 20px;
		transition: all ease-in .5s;
	}
	
	#contact-row-4 img {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	#contact-row-4 .col-12:hover {
		height: 175px;
		padding-top: 0;
	}
	
	#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 20px;
	}

#slide-7 {
	background-color: #e4e6e5;
	color: #4e4e4e;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
}

#lightbox-out {
	background-color: rgba( 0, 0, 0, 0.7 );
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.with-hover-text span {
	display: none;
}

.zoom {
	background-image: url('../images/zoom.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

#arrows {
	bottom: 10%;
	height: 80px;
	position: fixed;
	right: 10%;
	width: 80px;
	z-index: 1000;
}

#arrows div {
	background-image: url('../images/website-arrows.png');
	cursor: pointer;
	height: 30px;
	position: absolute;
	width: 30px;
}

#arrows div.disabled {
	cursor: default;
}

#arrow-up {
	background-position: 30px 0;
	left: 25px;
	top: 0;
}

#arrow-up.disabled {
	background-position: 0 0;
}

#arrow-down {
	background-position: 30px -30px;
	left: 25px;
	bottom: 0;
}

#arrow-down.disabled {
	background-position: 0 -30px;
}

#arrow-left {
	background-position: 30px -60px;
	left: 0;
	top: 25px;
}

#arrow-left.disabled {
	background-position: 0 -60px;
}

#arrow-right {
	background-position: 30px -90px;
	right: 0;
	top: 25px;
}

#arrow-right.disabled {
	background-position: 0 -90px;
}

.navigation-slide {
	cursor: pointer;
}

/*---------------------------AÑADIDO-------------------------------*/

#logoSym{
	position:fixed;
	top:0;
	left:8%;
	width:68px;
	height:50px;
}

.TextInfo{
	color: black !important;
	font-weight: 600;
}

.TextInfo2{
	color: white !important;
	font-weight: 600;
}



 .tarifasPromo1{
 	height:230px;
 	width:450px;
 	background-color: rgba(0, 0, 0, 0.3);
 	border-left:10px solid #fee404;
 	float:left;
 	right:1% !important;
 }

 .tarifasPromo1:hover{
 	cursor:pointer;
 	background-color: rgba(0, 0, 0, 0.6);
 }

 .tituloPromo{
 	left:0%;
 	color:#fee404;
 	font-weight: 600;
 	font-size:40px;
 }

 .importantePromo{
 	position:absolute;
 	left:2%;
 	top:17%;
 	font-weight: 600;
 	font-size:72px;
 	z-index:10;
 }

 .textoPromo1{
 	position:absolute;
 	top:33%;
 	left:35%;
 }

 .textoPromo2{
 	left:0%;
 }

 .precioPromo{
 	color:#fee404;
 	font-weight: 600;
 	font-size:56px;
 	left:0%;
 }
 .precioPromo2{
 	color:#fee404;
 	font-weight: 600;
 	font-size:26px;
 	left:0%;
 }

 .tarifasPromo2{
 	height:230px;
 	width:450px;
 	background-color: rgba(0, 0, 0, 0.3);
 	border-left:10px solid #fee404;
 	left:60% !important;
 }

  .tarifasPromo2:hover{
 	cursor:pointer;
 	background-color: rgba(0, 0, 0, 0.6);
 }

#container2, #container1{
	position:absolute;
	height:230px;
 	width:450px;
}

.text{
	font-family:'Arial';
}
