/*
 * Author: David RT
 *
 * Project Name: Wifibytes Mobile
 * Version: 1.0
 * URL: http://web.davidrt.tk
 */

.title h1{
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	font-size:50px !important;
	text-shadow: 3px 3px black;	
	color: #31B40D !important; 
}

/////Section 1
#section1 {
	background: #ffffff;
        border: 3px solid red;
        width: 80%;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;

            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;        
	background-attachment: relative;
	//background-position: center center;
}

#section1 h1 {
	padding-top: 85px;
}

#section1 hr{
        height: 31px;
        border-style: solid;
        border-color: black;
        border-width: 2px 0 0 0;
        border-radius: 30px;
}

#section1 hr:before{
        display: block;
        content: "";
        height: 31px;
        margin-top: -31px;
        border-style: solid;
        border-color: black;
        border-width: 0 0 2px 0;
        border-radius: 30px;
}

@media (max-width: 991px) {
    #section1 {
            background-position: -70% 0, 170% 0;
    }
}

@media (max-width: 767px) {
    #section1 {
            background-image: none;
    }
}

.box{ 
        border: 2px solid black !important;
        border-radius: 20px;
        position: relative;  
        z-index: 0;
        width: 315px !important;
        margin-left: 13px;
        margin-bottom: 16px;
        padding: 3px;        
        display: inline-block;
        background-color: white;   
        opacity: .8;
        font-weight: 800 !important;
	font-size: 24px !important;
	color: #31B40D;
        text-align: center !important;  
}

.box:hover{
    opacity: 3;
}

.titulo_tarifa{
        margin-bottom: 12px;
        font-size: 24px !important;
	color: #31B40D;
	text-shadow: 2px 2px #101210;
}
.detalles_tarifa{
        margin-bottom: 8px;
	font-size: 16px !important;
	color: black;
	text-shadow: 0px 0px;
}

.precio_tarifa{
        margin-bottom: 12px;
        color: #31B40D;
        text-shadow: 2px 2px #101210 !important;
}

.boton_contratar{
        border-radius: 10px !important;
	background-color: #31B40D !important;
	border: 2px solid #136E03 !important;
	font-size: 24px;
	color: black;
	border-radius: 1px;
}

.secret{
        border-radius: 20px;
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: 1;
        width: 315px;
        height: 292px;              
        background-color: transparent;
        opacity: .4;
}

/////Section 2
#section2{	
	//background-color: #EEFF92 !important;
        width: 100%;
        height: 400px;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;

            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;        
	background-attachment: relative;
	background-position: center center;        
}

#section2 h1 {
        border: 1px solid red;
	padding-top: 130px;
}

#section2 hr{
        height: 31px;
        border-style: solid;
        border-color: black;
        border-width: 2px 0 0 0;
        border-radius: 30px;
}

#section2 hr:before{
        display: block;
        content: "";
        height: 31px;
        margin-top: -31px;
        border-style: solid;
        border-color: black;
        border-width: 0 0 2px 0;
        border-radius: 30px;
}

@media (max-width: 991px) {
	#section2 {
		background-position: -70% 0, 170% 0;
	}
}

@media (max-width: 767px) {
	#section2 {
		background-image: none;
	}
}


/////Section 3

#section3{	
        padding-top: 85px;
        padding-bottom: 85px;
        background-color: #8CD1E6;
	color: #e4e6e5;
}

#section3 h1 {
	padding-top: 85px;
}

#section3 hr{
        height: 31px;
        border-style: solid;
        border-color: black;
        border-width: 2px 0 0 0;
        border-radius: 30px;
}

#section3 hr:before{
        display: block;
        content: "";
        height: 31px;
        margin-top: -31px;
        border-style: solid;
        border-color: black;
        border-width: 0 0 2px 0;
        border-radius: 30px;
}

@media (max-width: 991px) {
    #section3 {
            background-position: -70% 0, 170% 0;
    }
}

@media (max-width: 767px) {
    #section3 {
            background-image: none;
    }
}

#register{        
        width: 550px;
        margin: 0 auto;                
        font-family: Verdana, sans-serif;
        text-align: center;
}

#register fieldset{
        border: 2px solid #31B40D;
        border-radius: 10px;
        background: #E0EFF7;
}

#register legend{
        border: 2px solid #31B40D;
        border-radius: 10px;
        background: #F0F8FD;
}

#enviarDatos{
        width: 120px !important;
        background: #31B40D;
        color: white;
}


/////section 4

#section4{	
        padding-top: 85px;
        padding-bottom: 85px;
        background-color: #8CD1E6;
	color: #e4e6e5;        
}

#section4 h1 {
	padding-top: 85px;
}

@media (max-width: 991px) {
    #section4 {
            background-position: -70% 0, 170% 0;
    }
}

@media (max-width: 767px) {
    #section4 {
            background-image: none;
    }
}

#factura{        
        width: 550px !important;
        margin: 0 auto;
        //margin-left: 5% !important;
        font-family: Verdana, sans-serif;
        text-align: center;
}

#factura fieldset{
        border: 2px solid #31B40D;
        width: 550px;
        border-radius: 10px;
        background: #E0F7E5;
}

#factura legend{
        border: 2px solid #31B40D;
        border-radius: 10px;
}

#fact{
        border: 2px solid green;
        width: 550px;
        margin: 0 auto;
        text-align: center;
}

#fact fieldset{
        border: 2px solid #31B40D;
        width: 550px;
        border-radius: 10px;
        background: #E0F7E5;
}

#fact legend{
        border: 2px solid #31B40D;
        border-radius: 10px;
        background: #EEFBF1;
}

#enviarFactura{
        width: 120px !important;
        background: #31B40D;
        color: white;
}

/////forms

.textofactura{
        color:#2E2E2E;
}