@font-face{
	font-family:"duepuntozero_extralight";
	src: url('../font/duepuntozero_extralight.otf');
}


.font-thin {
	font-family: alpha_echo, "Titillium Web", sans-serif;
	font-weight: 200;
	color: black !important;
}

.font-intro {
	font-family: "letra", "Titillium Web", sans-serif;
	font-weight: 200;
	color: black !important;
}

.font-semibold {
	font-family: "letra","Titillium Web", sans-serif;
	font-weight: 600;
	color: black !important;
}

.font-titulo{
	font-family: "duepuntozero_extralight", "Titillium Web", sans-serif;
	font-weight: 600;
	font-size:92px !important;
	text-shadow: -2px -2px 1px #00923f, 2px 2px 1px #00923f, -2px 2px 1px #00923f, 2px -2px 1px #00923f;
	color: #FFFFFF !important;
}

.font-promociones{
	font-family: "duepuntozero_extralight", "Titillium Web", sans-serif;
	font-weight: 600;
	font-size:66px !important;
	color: #000000 !important;
}

.font-catalogo{
	font-family: "duepuntozero_extralight", "Titillium Web", sans-serif;
	font-weight: 600;
	font-size:24px !important;
	color: #000000 !important;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

* {
	position: relative;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffffff;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
	z-index:-2;
}

.justify-text {
	text-align: justify;
}

.navbar {
	background-color: #bfbfbf;
	background-color: black; /*rgba( 228, 230, 229, .85 )*/
	border-bottom: 0 none;
	font-size: 12px;
	transition: .25s all linear;
}

.navbar.inv {
	background-color: rgba( 0, 0, 0, .5 );
	border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
	color: #00923f;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	transition: all .5 linear;
}

.navbar.inv a {
	color: #ffffff;
}


.navbar-responsive-collapse {
	margin: 0 auto;
	width: 80%;
}

.nav li {
	text-align: center;
	white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

.navbar-brand {
	padding: 8px;
}

.active-menu {
	background-color: #00923f;
	content: '.';
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .5 linear;
	width: 1%;
	z-index: 9;
}

.inv .active-menu {
	background-color: #00923f;
}

.special-active-menu {
	z-index: 10;
}

#special-active-menu-1,
#special-active-menu-6 {
	background-color: #e4e6e5 !important;
}

#special-active-menu-2 {
	background-color: #e4e6e5 !important;
}

#special-active-menu-3 {
	background-color: #e4e6e5 !important;
}

#special-active-menu-4 {
	background-color: #e4e6e5 !important;
}

#special-active-menu-5 {
	background-color: #e4e6e5 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
	#slide-4 .content-row h2 {
		min-height: 6em;
	}
}

@media (max-width: 767px) {
	
	.nav li {
		text-align: left;
		white-space: nowrap;
	}
	
	.navbar-responsive-collapse  {
		width: 100%;
	}
	
	.active-menu {
		display: none !important;
	}
	
	.navbar-toggle {
		margin-right: 10px;
	}
	
	.navbar {
		background-color: #e4e6e5 !important;
		padding: 0;
	}
	
	.navbar .nav a {
		color: #e4e6e5;
		font-size: 16px;
		padding-left: 0;
	}
	
	.icon {
		margin-right: 12px;
	}
			
	.nav li[data-slide="1"],
	.nav li[data-slide="6"] {
		background-color: #2f2f2f;
	}
	
	.nav li[data-slide="2"] {
		background-color: #fee404;
	}
	
	.nav li[data-slide="3"] {
		background-color: #e74c3c;
	}
	
	.nav li[data-slide="4"] {
		background-color: #34495e;
	}
	
	.nav li[data-slide="5"] {
		background-color: #e67e22;
	}
	
	.navbar-brand {
		margin: 0;
		text-align: left;
	}
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 65px;
	padding-top: 50px;
	text-align: center;
}

#slide-1 {
	background-image: url('../images/bg1.jpg');
	color: #ffffff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

#slide-1 h1 {
	padding-top: 100px;
}

@media (max-width: 991px) {
	#slide-1 {
		background-position: -70% 0, 170% 0;
	}
}

@media (max-width: 767px) {
	#slide-1 {
		background-image: none;
	}
}

	#home-row-1,
	#home-row-2 {
		padding-top: 25px;
	}
	
	#home-row-1 h1 {
		font-size: 54px;
	}
	
	#home-row-1 h4 {
		font-size: 32px;
	}
	
	#home-row-2 {
		font-size: 25px;
	}
	
	#home-row-2 .col-12 {
		height: 232px;
		padding-top: 30px;
	}
	
	#home-row-2 .col-12 .home-hover {
		height: 166px;
		overflow: hidden;
		padding-top: 26px;
		transition: all ease-in .5s;
	}
	
	#home-row-2 .col-12 .home-hover:hover {
		height: 166px;
		padding-top: 0;
	}

@media (max-width: 767px) {
	#home-row-1,
	#home-row-2 {
		padding-top: 16px;
	}
	
	#home-row-1 h1 {
		font-size: 35px;
	}
	
	#home-row-1 h4 {
		font-size: 21px;
	}
	
	#home-row-2 {
		font-size: 16px;
	}
}

#slide-2 {
	background-color: #eeeeee;
	border-top:5px solid #00923f;
	color: #e4e6e5;
	padding-top: 90px;
}

	.title-row {
		font-size: 45px;
		padding-bottom: 50px;
	}
	
	.line-row .hr {
		background-color: #00923f;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}
	
	.subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	
	.content-row {
		padding-top: 45px;
	}
	
	.content-row i,
	#about-row-5 i {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	.content-row h2 {
		font-size: 28px;
		padding-bottom: 40px;
	}
	
	.content-row h4 {
		font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 20px;
		font-weight: 300;
	}
	
	i {
		font-size: 80px;
		color: white;
	}
	

@media (max-width: 767px) {
	.title-row {
		font-size: 34px;
		padding-bottom: 33px;
	}
	
	.subtitle-row {
		font-size: 26px;
		padding-bottom: 26px;
		padding-top: 26px;
	}
	
	.content-row {
		padding-top: 29px;
	}
	
	.content-row h2 {
		font-size: 24px;
		padding-bottom: 26px;
	}
	
	.content-row h4 {
		font-size: 20px;
	}
}

#slide-3 {
	background-color: #000;
	border-top:5px solid #000000;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	text-align: left;
	width: 100%;
}
	
	#slide-3 .col-12 {
		display: inline-block;
		height: 451px;
		margin: 0;
		padding: 0;
		width: 452px;
	}

	#slide-3 a,
	#slide-3 img {
		display: inline-block;
		height: 100%;
		margin: 0 auto;
		width: 100%;
	}
	
@media (max-width: 991px) {
	#slide-3 {
		text-align: center;
		width: 100%;
	}
	
	#slide-3 .row {
		left: 0 !important;
		margin: 0;
		width: 100% !important;
	}
	
	#slide-3 .col-12 {
		height: auto;
		width: 50%
	}

	#slide-3 a,
	#slide-3 img {
		height: auto;
		max-height: 100%;
		max-width: 100%;
		width: auto;
	}
}
	
@media (max-width: 767px) {
	#slide-3 .col-12 {
		width: 100%;
	}
}

#slide-4 {
	background-color: #cac9c9;
	border-top:5px solid #00923f;
	border-bottom:5px solid #00923f;
	color: #e4e6e5;
	padding-top: 90px;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

#slide-catalogo {
	background-color: #e0e0e0;
	border-top:5px solid #00923f;
	color: #e4e6e5;
	padding-top: 90px;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

#slide-4 i {
		font-size: 80px;
		color: white;
	}


#slide-5 {
	background-color: #eeeeee;
	border-bottom:5px solid #00923f;
	color: white;
	
	padding-top: 90px;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

.row .textoSlide5{
	text-shadow: 2px 2px #000000 !important;
}

#slide-6 {
	background-color: #2f2f2f;
	color: #e4e6e5;
	padding-bottom: 350px;
	padding-top: 90px;
}

@media (max-width: 767px) {
	#slide-6 {
		background-image: none;
	}
}
	
	#slide-6 .line-row .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}

	#slide-6 a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}

@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 2em;
		margin-top: 1em;
	}
}
	
	#contact-row-4 {
		padding-top: 125px;
	}
	
	#contact-row-4 .col-12 {
		height: 175px;
		overflow: hidden;
		padding-top: 20px;
		transition: all ease-in .5s;
	}
	
	#contact-row-4 img {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	#contact-row-4 .col-12:hover {
		height: 175px;
		padding-top: 0;
	}
	
	#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 20px;
	}

#slide-7 {
	background-color: #e4e6e5;
	color: #4e4e4e;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
}

#lightbox-out {
	background-color: rgba( 0, 0, 0, 0.7 );
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.with-hover-text span {
	display: none;
}

/*---------------------------AÑADIDO-------------------------------*/

#logoSym{
	position:fixed;
	top:0;
	left:8%;
	width:55px;
	height:60px;
}

#logo_letras{
	position:fixed;
	top:12px;
	left:12%;
	width:55px;
	height:60px;
	color: #ffffff;
	font-family: "duepuntozero_extralight", "Titillium Web", sans-serif;
	font-size:24px;
	
}

.TextInfo{
	color: black !important;
	font-weight: 600;
}

.TextInfo2{
	color: white !important;
	font-weight: 600;
}



 .tarifasPromo1{
 	height:230px;
 	width:450px;
 	background-color: rgba(0, 0, 0, 0.3);
 	border-left:10px solid #00923f;
 	float:left;
 	right:1% !important;
 }

 .tarifasPromo1:hover{
 	cursor:pointer;
 	background-color: rgba(0, 0, 0, 0.6);
 }

 .tituloPromo{
 	left:0%;
 	color:#00923f;
 	text-shadow: -2px -2px 1px #000000, 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000;
 	font-weight: 600;
 	font-size:40px;
 }

 .importantePromo{
 	position:absolute;
 	left:2%;
 	top:17%;
 	font-weight: 600;
 	font-size:72px;
 	z-index:10;
 }

 .textoPromo1{
 	position:absolute;
 	top:33%;
 	left:45%;
 }

 .textoPromo2{
 	left:0%;
 }

 .precioPromo{
 	color:#00923f;
 	text-shadow: -2px -2px 1px #000000, 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000;
 	font-weight: 600;
 	font-size:56px;
 	left:0%;
 }
 .precioPromo2{
 	color:#00923f;
 	text-shadow: -2px -2px 1px #000000, 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000;
 	font-weight: 600;
 	font-size:26px;
 	left:0%;
 }

 .tarifasPromo2{
 	height:230px;
 	width:450px;
 	background-color: rgba(0, 0, 0, 0.3);
 	border-left:10px solid #00923f;
 	left:60% !important;
 }

  .tarifasPromo2:hover{
 	cursor:pointer;
 	background-color: rgba(0, 0, 0, 0.6);
 }

#container2, #container1{
	position:absolute;
	height:230px;
 	width:450px;
}

.text{
	font-family:'Arial';
}

#logo_inicio{
	width:200px;
	height:218px;
	position:relative;
}

.promociones_caja{
	width:250px;
	height:450px;
	background:#ffffff;
	border-radius:2px;
	box-shadow: -2px -2px 1px #999999, 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000;
}

.cobertura_texto{
	position:absolute;
	font-family:'duepuntozero_extralight';
	color:#000000;
	left:1%;
	padding-top:10px;
	padding-left:10px;
	font-weight: 600;
	font-size: 20px;
}

.enlace_cobertura{
	font-family:'duepuntozero_extralight';
	font-size: 20px;
	color: green !important;
}

.enlace_cobertura:hover{
	font-family:'duepuntozero_extralight';
	font-size: 20px;
	text-decoration: underline !important;
}

.porcentaje_cobertura{
	font-family:'duepuntozero_extralight';
	font-size: 20px;
	color: green;
	font-weight: bold;
}

.promociones_nombre{
	position:absolute;
	font-family:'Arial';
	color:#000000;
	left:1%;
	padding-top:10px;
	padding-left:10px;
	font-style:bold;
	font-weight: 600;
}

.promociones_imagen{
	position:absolute;
	top:10%;
	left:14%;
	width:180px;
	height:300px;
}

.promociones_precio{
	position:absolute;
	font-family:'Arial';
	color:#000000;
	left:30%;
	top:78%;
	padding-left:10px;
	font-style:bold;
	font-weight: 600;
}

.promociones_precio_titulo{
	font-size:24px;
}

.promociones_boton{
	position:absolute;
	width:225px;
	color:white;
	background: #00923f;
	bottom:2%;
	left:5%;
	border-radius:2px;
}

.catalogo_caja{
	width:250px;
	height:380px;
	background:#ffffff;
	border-radius:2px;
	box-shadow: -2px -2px 1px #999999, 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000;
}


.catalogo_nombre{
	position:absolute;
	font-family:'Arial';
	color:#000000;
	left:27%;
	padding-top:10px;
	padding-left:10px;
	font-style:bold;
	font-weight: 600;
}

.catalogo_imagen{
	position:absolute;
	top:10%;
	left:14%;
	width:180px;
	height:300px;
}

.catalogo_boton{
	position:absolute;
	width:225px;
	color:white;
	background: #000000;
	bottom:2%;
	left:5%;
	border-radius:2px;
}


/******************************************************************************************/