{% extends 'symphoneBackendBundle::layout.html.twig' %}

{% block content -%}
    {% trans_default_domain 'FOSUserBundle' %}
    <h3>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h3>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}
            <p>
                <a class="btn btn-primary" href="{{ targetUrl }}">
                    {{ 'registration.back'|trans({}, 'FOSUserBundle') }}
                </a>
            </p>
        {% endif %}
    {% endif %}
{% endblock %}