{% extends 'symphoneBackendBundle::layout.html.twig' %}

{% block content -%}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_registration_register" role="form">
        {{ form_errors(form) }}
        <div class="form-group{% if form.email.vars.errors[0].message is defined %} has-error{% endif %}">
            {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {% if form.email.vars.errors[0].message is defined %}
                    <span class="help-block">
                        {{ form.email.vars.errors[0].message }}
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.username.vars.errors[0].message is defined %} has-error{% endif %}">
            {{ form_label(form.username, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                {% if form.username.vars.errors[0].message is defined %}
                    <span class="help-block">
                        {{ form.username.vars.errors[0].message }}
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.plainPassword.first.vars.errors[0].message is defined %} has-error{% endif %}">
            {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {% if form.plainPassword.first.vars.errors[0].message is defined %}
                    <span class="help-block">
                        {{ form.plainPassword.first.vars.errors[0].message }}
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.plainPassword.second.vars.errors[0].message is defined %} has-error{% endif %}">
            {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {% if form.plainPassword.second.vars.errors[0].message is defined %}
                    <span class="help-block">
                        {{ form.plainPassword.second.vars.errors[0].message }}
                    </span>
                {% endif %}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
        {{ form_end(form) }}
    {% endblock %}