
body{
  background-color: #cac9c9;
}

.ave{    
    border: 6px solid white;
    width: 10%;
    height: 100%;
    float: left;
    margin-left: 5px;
    background-color:#FFFFFF;
}

.bono{
    background-color: #b4b3b3;
    font-size: 1.2em;
    color: #FFFFFF ;
    text-align: center;
}

.oferta{
 margin-top: 2%;
 background-color: #00923f;   
 font-size: 1.2em;
 color: #FFFFFF ;
 text-align: center;
}

.precio{
 font-size: 3em;
 text-align: center;
}
.euro{
    font-size: 1.1em;
    float: right;
    
}