.title h1{
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-size:50px !important;
        text-shadow: 3px 3px black;
        color: #31B40D !important;
}


#section1{
        width: 100%;
        margin-bottom: 0px;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-color: #FAFAFA;
        background-size: cover;
        background-attachment: relative;
}

#section1 h1{
        padding-top: 85px;
}


@media (max-width: 991px){
        #section1 {
                background-position: -70% 0, 170% 0;
        }
}

@media (max-width: 767px){
        #section1 {
                background-image: none;
        }
}

.box{
        border: 1px solid black !important;
        border-radius: 20px;
        position: relative;
        z-index: 0;
        width: 315px !important;
        margin-left: 13px;
        margin-bottom: 16px;
        padding: 6px 3px 10px 3px;
        display: inline-block;
        background-color: white;
        opacity: .7;
        text-align: center !important;
        font-weight: 800 !important;
        font-size: 24px !important;
        color: #31B40D;
        box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.85);
                -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.85);
                -moz-box-shadow:    4px 4px 6px 0px rgba(50, 50, 50, 0.85);

                -moz-transition-property: all;
                -moz-transition-duration: 0.7s;
                -moz-transition-timing-function: ease;
                -moz-transition-delay: 0.2s;

                -webkit-transition-property: all;
                -webkit-transition-duration: 0.7s;
                -webkit-transition-timing-function: ease;
                -webkit-transition-delay: 0.2s;

                -o-transition-property: all;
                -o-transition-duration: 0.7s;
                -o-transition-timing-function: ease;
                -o-transition-delay: 0.2s;

                transition-property: all;
                transition-duration: 0.7s;
                transition-timing-function: ease;
                transition-delay: 0.2s;
}

.box:hover {
        opacity: 4;
}

.titulo_tarifa{
        margin-bottom: 12px;
        font-size: 24px !important;
        color: #31B40D;
        text-shadow: 2px 2px #101210;
}
.detalles_tarifa{
        margin-bottom: 8px;
        font-size: 16px !important;
        color: black;
        text-shadow: 0px 0px;
}

.precio_tarifa{
        margin-bottom: 12px;
        color: #31B40D;
        text-shadow: 2px 2px #101210 !important;
}

.boton_contratar{
        border-radius: 10px !important;
        border: 2px solid #136E03 !important;
        //border-radius: 1px;
        font-size: 24px;
        font-weight: bold;
        background-color: #31B40D !important;
        color: black;
}

.secret{
        border-radius: 20px;
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: 1;
        width: 315px;
        height: 292px;
        background-color: transparent;
        opacity: .4;
}


#section2{
        border-top: 5px solid #31B40D;
        width: 100%;
        //height: 400px;
        margin-top: -50px;
        background-color: #FAFAFA;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -o-background-size: 100%;
        background-size: 100%;
        background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
        background-attachment: relative;
        background-position: center center;
}

#section2 h1{
        padding-top: 85px;
}

@media (max-width: 991px){
        #section2 {
                background-position: -70% 0, 170% 0;
        }
}

@media (max-width: 767px){
        #section2 {
                background-image: none;
        }
}

.optionSelect{
        width: 18%;
        height: 120px;
        display: inline-block;
        vertical-align: top;
}

.pregunta{
        font-size: 18px;
}

#tarj0{
        width: 80%;
}

#tarj1{
        padding-top: 20%;
        width: 40%;
}

#camion{
        padding-top: 7.3%;
        width: 70%;
}

#tienda{
        padding-left: 7%;
        width: 51%;
}

.separador{
        height: 2px;
        background-color: #4C544D;
}

.dentro{
        padding-left: 30px;
}

#section3{
        border-top: 5px solid #31B40D;
        padding-bottom: 85px;
        background-color: #FAFAFA;
        color: #e4e6e5;
}

#section3 h1 {
        padding-top: 85px;
}

@media (max-width: 991px) {
        #section3 {
                background-position: -70% 0, 170% 0;
        }
}

@media (max-width: 767px) {
        #section3 {
                background-image: none;
        }
}

#register{
        width: 550px;
        margin: 0 auto;
        font-family: Verdana, sans-serif;
        text-align: center;
}

#register fieldset{
        border: 2px solid #31B40D;
        border-radius: 10px;
        padding: 10px 25px 15px 25px;
        background: #fff; /* #E0F7E5 */
        box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.85);
        -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.85);
        -moz-box-shadow:    4px 4px 6px 0px rgba(50, 50, 50, 0.85);
}

#register legend{
        border: 2px solid #31B40D;
        border-radius: 10px;
        width: 72%;
        background-color: #31B40D; /* #B8F6C5 */
        font-weight: bold;
        color: #f5f5f5;
}

#enviarDatos{
        width: 120px !important;
        border-radius: 10px !important;
        border: 2px solid #136E03 !important;
        font-size: 19px;
        background-color: #31B40D;
        color: white;
                -moz-transition-property: all;
                -moz-transition-duration: 0.8s;
                -moz-transition-timing-function: ease;
                -moz-transition-delay: 0.2s;

                -webkit-transition-property: all;
                -webkit-transition-duration: 0.8s;
                -webkit-transition-timing-function: ease;
                -webkit-transition-delay: 0.2s;

                -o-transition-property: all;
                -o-transition-duration: 0.8s;
                -o-transition-timing-function: ease;
                -o-transition-delay: 0.2s;

                transition-property: all;
                transition-duration: 0.8s;
                transition-timing-function: ease;
                transition-delay: 0.2s;
}

#enviarDatos:hover{
        border: 2px solid #26AD0E;
        background-color: #53E929;
        color: #D2F776;
}


#section4{
        border-top: 5px solid #31B40D;
        padding-bottom: 85px;
        background-color: #FAFAFA;
        color: #e4e6e5;
}

#section4 h1 {
        padding-top: 85px;
}

@media (max-width: 991px) {
        #section4 {
                background-position: -70% 0, 170% 0;
        }
}

@media (max-width: 767px) {
        #section4 {
                background-image: none;
        }
}

#factura{
        width: 550px !important;
        margin: 0 auto;
        font-family: Verdana, sans-serif;
        text-align: center;
}

#factura fieldset{
        border: 2px solid #31B40D;
        border-radius: 10px;
        width: 550px;
        padding: 10px 25px 15px 25px;
        background: #fff5; /* #E0F7E5 */
        box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.85);
        -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.85);
        -moz-box-shadow:    4px 4px 6px 0px rgba(50, 50, 50, 0.85);
}

#factura legend{
        border: 2px solid #31B40D;
        border-radius: 10px;
        width: 72%;
        background-color: #31B40D; /* #B8F6C5 */
        font-weight: bold;
        color: #f5f5f5;
}

#advertencia{
        padding: 7px 30px 10px 50px;
        font-size: 12px;
}

#enviarFactura{
        width: 120px !important;
        border-radius: 10px !important;
        border: 2px solid #136E03 !important;
        font-size: 19px;
        background-color: #31B40D;
        color: white;
                -moz-transition-property: all;
                -moz-transition-duration: 0.8s;
                -moz-transition-timing-function: ease;
                -moz-transition-delay: 0.2s;

                -webkit-transition-property: all;
                -webkit-transition-duration: 0.8s;
                -webkit-transition-timing-function: ease;
                -webkit-transition-delay: 0.2s;

                -o-transition-property: all;
                -o-transition-duration: 0.8s;
                -o-transition-timing-function: ease;
                -o-transition-delay: 0.2s;

                transition-property: all;
                transition-duration: 0.8s;
                transition-timing-function: ease;
                transition-delay: 0.2s;
}

#enviarFactura:hover{
        border: 2px solid #26AD0E;
        background-color: #53E929;
        color: #D2F776;
}

.textofactura{
        color:#2E2E2E;
}