
/**-----------------------------smartphones----------------------------*/
body{
	background-color: #eeeeee;
}

@font-face{
	font-family:"duepuntozero_bold";
	src: url('../font/duepuntozero_bold.otf');
}

.font-moviles{
	font-family: "duepuntozero_extralight", "Titillium Web", sans-serif;
	font-weight: 600;
	font-size:25px !important;
	color: #000000 !important;
	top: 0.5em;
}

.CajaMenuFiltrar{
	width:250px;
	height:520px;
	background:#ffffff;
	border-radius:2px;
	box-shadow: -2px -2px 1px #999999, 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000;
}

.tituloTelefonos{

}

.CajaTelefono{
	top: -9.5em;
	width:250px;
	float:left;
	height:350px;
	background:#ffffff;
	margin:10px;
	border-radius:2px;
	box-shadow: -2px -2px 1px #999999, 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000;
}

#contenedorTelefonos{
	position:absolute;
	box-sizing:border-box;
	padding:3px;
	text-align:center;
	width:95%;
	left:250px;
	top: 3em;
}
.Comprar{
	position:absolute;
	width:225px;
	height: 50px;
	color:white;
	background: #00923f;
	bottom:2%;
	left:5%;
	border-radius:2px;
	font-size: 30px;
}

.Masinfo{
	position:absolute;
	width:100px;
	color:white;
	background: black;
	bottom:29%;
	left:50%;
	border-radius:2px;
	font-size: 25px;
}

.ImgMovil{
	margin-left: -8.5em;
	top: -3em;
	width: 120px;
	height: 200px;
}


.PrecioMovil{
	color: #00923f;
	font-family:'duepuntozero_extralight';
	font-size: 50px;
	top: 1.5em;
	margin-left: 2.3em;
}

.euro{
	color: black;
	font-family:'duepuntozero_extralight';
	font-size: 50px;
	top: 1.5em;
}

.MenuFiltrar{
	position: fixed;
	float: left;
	left: 2em;
	top: 5.5em;
	color: black;
	font-size: 30px;
}

.TituloFiltrar{
	font-family: 'duepuntozero_bold';
	margin-left: -0.5em;
	width: 70%;
	text-align: center;
	font-size: 31px;
}

.textoMarcas{
	font-family:'duepuntozero_extralight';
	font-size: 25px;
	margin-left: -5.7em;
	top: -0.15em;
}

.textoPrecio{
	font-family:'duepuntozero_extralight';
	font-size: 25px;
	margin-left: -5.7em;
	top: -1.5em;
}

.textoPulgadas{
	font-family:'duepuntozero_extralight';
	font-size: 25px;
	margin-left: -5em;
	top: -2.7em;
}

.marca1{
	right: 2.4em;
	top: -0.5em;
}

.marca2{
	right: 3.25em;
	top: -0.7em;
}

.marca3{
	right: 2.77em;
	top: -1em;
}

.marca4{
	right: 1.87em;
	top: -1.2em;
}

.marca5{
	right: 1.9em;
	top: -1.4em;
}

.marca6{
	right: 2.79em;
	top: -1.6em;
}

.marca7{
	right: 2.55em;
	top: -1.85em;
}

.textoFiltros{
	font-size: 21px;
	font-weight: normal;
}

.Precio{
	float: center;
	top: -2.1em;
}

.precioslider {
	-webkit-appearance: none;
	width: 140px;
	height: 20px;
	margin: 10px 50px;
	background: linear-gradient(to right, black 0%, black 100%);
	background-size: 150px 10px;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
	zoom: 130%;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}
.precioslider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background: #00923f;
	position: relative;
	z-index: 3;
}
.precioslider::-webkit-slider-thumb:after {
	content: " ";
	width: 160px;
	height: 10px;
	position: absolute;
	z-index: 1;
	right: 20px;
	top: 5px;
	background: #00923f;
}

#rangevalue{
	top: -1.4em;
	height: 35px;
	width: 30%;
	text-align: center;
}

.pulgadas{
	top: -3em;

}

.AplicarFiltro{
	position:absolute;
	width:225px;
	height: 35px;
	color:white;
	background: #00923f;
	bottom:6%;
	left:5%;
	border-radius:2px;
	font-family:'duepuntozero_bold';
	font-size: 22px;
}

.SelectPulgadas{
	font-size: 20px;
	top: -0.2em;
	width: 180px;
}

.Buscador{
	width: 30%;
	height: 30px;
	top: -6.5em;
	margin-left: 57em;
}



.form-control{
	width: 50px;
	left: 4em;
	padding: 6px 6px !important;
}

.numerador{
	top: -4.2em;
	left: 27em;
}

.textoSecundario{
	top: -2em;
	left: -12em;
}

.textoSecundario2{
	top: 0.5em;
	left: -9em;
}

.Find{
	width: 180px !important;
	top: -1.6em !important;
}



@media (min-width: 768px) {
	.sb-fixed{
		position: fixed;
	}
}

.containerFiltros{
	margin-left: -5em;
	top: 11em;
	border-radius:2px;
	box-shadow: -2px -2px 1px #999999, 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000;
	height:585px;
}

.containerTelefonos{
	width: 81%;
	left: 260px;
	position:absolute;

}

.other-controller{
	top: 42em;
	left: 29.5em;
}