<!DOCTYPE html>
<html  ng-app="myapp" >
    <head lang="es">


        <link rel="shortcut icon" type="image/png" href="/bundles/frontend/images/logo_gran.png"/>


        <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
        <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

        <script src="{{ asset('/bundles/frontend/js/telefonos/dirPagination.js') }}" type="text/javascript"></script>
        //<link href="{{ asset('/bundles/frontend/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <!--  <script src="script.js"></script> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>wifibytes</title>
        <meta name="description" content="symphone " />
        <meta name="keywords" content="symphone">
        <meta property="og:title" content="">
        <link href="{{ asset('/bundles/frontend/fancybox/jquery.fancybox-v=2.1.5.css') }}" type="text/css" rel="stylesheet" media="screen"/>
        <link href="{{ asset('/bundles/frontend/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/frontend/css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/frontend/css/styleSmartPhones.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/frontend/css/style_contractes.css') }}" type="text/css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
        <link rel="shortcut icon" type="image/png" href="/bundles/frontend/images/logo_gran.png"/>
        <script src="{{ asset('/bundles/frontend/js/angularjs.js') }}" type="text/javascript"></script>
        <script src="{{ asset('/bundles/frontend/ngCart-master/distr/ngCart.js') }}" type="text/javascript"></script>
        <base href="/">

    </head>




  <body ng-controller="MyController">
<div ng-view>

</div>

<!-- SCRIPTS -->
<script src="{{ asset('/bundles/frontend/js/html5shiv.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/frontend/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/frontend/js/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/frontend/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/frontend/js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/frontend/js/script.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/frontend/js/contractes.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/frontend/fancybox/jquery.fancybox.pack-v=2.1.5.js') }}" type="text/javascript"></script>
<!-- fancybox init -->

<script>

    
$.noConflict();

setTimeout(function(e) {


    jQuery(document).ready(function (e) {

        var lis = jQuery('.nav > li');

        menu_focus(lis[0], 1);

        jQuery(".fancybox").fancybox({
            padding: 10,
            helpers: {

                overlay: {

                    locked: false
                }
            }
        });
    });
},2000)

</script>

</body>
</html>
