    <div class="navbar navbar-fixed-top" data-activeslide="1">
            <div class="container">

                <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- icon-home icon-user icon-briefcase icon-heart icon-gears icon-envelope-->
                <div class="nav-collapse collapse navbar-responsive-collapse">
                 <a  id="menu-link-2" href="#slide-1" title="Symphone"><img id="logoSym" src="img/logoSymphone.png"></a>
                    <ul class="nav row">
                        <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="http://web.miguelet.ovh" title="Inicio"><span class="icon icon-home"></span><span class="text">&nbsp;Volver atr&aacute;s</span></a></li>
                        <!--li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Promociones"><span class="icon icon-star"></span> <span class="text">FORMULARIO</span></a></li>
                        <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Cat&aacute;logo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon icon-mobile-phone"></span>  &nbsp;&nbsp; <span class="text">&nbsp;CONFIRMAR PAGO</span></a></li-->
                    </ul>
                    <div class="row">
                        <div class="col-sm-2 active-menu"></div>
                    </div>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
        
        <!-- === Section 1 === -->
        <div id="section1">
            <div class="container">
                <div class="title">
                    <h1>Elije tu tarifa</h1>                
                    <br>
                    <br>
                </div><!-- /title -->
                
                <div id="boxes">
                    <div id="tarifa1" class="box">
                        <div id="secret1" class="secret"></div>
                        <div class="titulo_tarifa">Ve Bono Basic<br></div>
                        <div class="detalles_tarifa">100 minutos de voz<br><br>Establecimiento de <br>llamada incluido<br><br>Sin datos</div>
                        <div class="precio_tarifa">6,05€/mes<br></div>
                        <div class="contratar_tarifa"><input type="button" class="boton_contratar" value="Contratar" /></div>                                                
                    </div>
                    
                    <div id="tarifa2" class="box">
                        <div id="secret2" class="secret"></div>
                        <div class="titulo_tarifa">Ve Bono Silver<br></div>
                        <div class="detalles_tarifa">300 minutos de voz<br><br>Establecimiento de <br>llamada incluido<br><br>Sin datos</div>
                        <div class="precio_tarifa">12,04€/mes</div>
                        <div class="contratar_tarifa"><input type="button" class="boton_contratar" value="Contratar" /></div>
                    </div>
                    <div id="tarifa3" class="box">
                        <div id="secret3" class="secret"></div>
                        <div class="titulo_tarifa">VeDa Mini<br></div>
                        <div class="detalles_tarifa">100 minutos de voz<br><br>Establecimiento de <br>llamada incluido<br><br>300 MB de datos</div>
                        <div class="precio_tarifa">9,08€/mes</div>
                        <div class="contratar_tarifa"><input type="button" class="boton_contratar" value="Contratar" /></div>
                    </div>

                    <div id="tarifa4" class="box">
                        <div id="secret4" class="secret"></div>
                        <div class="titulo_tarifa">VeDa Basic<br></div>
                        <div class="detalles_tarifa">100 minutos de voz<br><br>Establecimiento de <br>llamada incluido<br><br>1,2 GB de datos</div>
                        <div class="precio_tarifa">12,04€/mes</div>
                        <div class="contratar_tarifa"><input type="button" class="boton_contratar" value="Contratar" /></div>
                    </div> 
                    <div id="tarifa5" class="box">
                        <div id="secret5" class="secret"></div>
                        <div class="titulo_tarifa">VeDa Silver<br></div>
                        <div class="detalles_tarifa">200 minutos de voz<br><br>Establecimiento de <br>llamada incluido<br><br>1,2 GB de datos</div>
                        <div class="precio_tarifa">19,30€/mes</div>
                        <div class="contratar_tarifa"><input type="button" class="boton_contratar" value="Contratar" /></div>
                    </div>

                    <div id="tarifa6" class="box">
                        <div id="secret6" class="secret"></div>
                        <div class="titulo_tarifa">VeDa Gold<br></div>
                        <div class="detalles_tarifa">Minutos ilimitados de voz<br><br>Establecimiento de <br>llamada incluido<br><br>1,5 GB de datos</div>
                        <div class="precio_tarifa">27.77€/mes</div>
                        <div class="contratar_tarifa"><input type="button" class="boton_contratar" value="Contratar" /></div>
                    </div>
                </div><!-- /boxes -->
            </div><!-- /container -->
            <br><br><br><br>
            <hr>
        </div><!-- /Section 1 -->
        
        <!-- === Section 2 === -->
        <div id="section2">
            <div class="container">
                <div id="other1">
                    <p>¿Le gustaria añadir algun smartphone a la oferta?</p>
                    <input type="button" id="ok" value="SI">&nbsp;&nbsp;&nbsp;<input type="button" id="no" value="NO">
                </div>
                <div id="other2">
                    <p>Además tenemos accesorios para ese smartphone:</p><input type="button" value="VACIO">
                </div>
            </div><!-- /container -->
            <br><br>
            <hr>
        </div><!-- /Section 2 -->

        <!-- === Section 3 === -->
        <div id="section3">
            <div class="container">
                <div class="title">
                    <h1>Tus datos personales</h1>                
                    <br>
                    <br>
                </div><!-- /title -->
                <div id="register">
                    <form action="" method="post" ng-controller="formRegister" name="frm">
                        <fieldset>
                            <legend>Formulario de registro</legend>
                            <div>
                                <input type="text" name="nombre" placeholder="Nombre" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"/> 
                            </div>

                            <div>
                                <input type="text" name="apellidos" placeholder="Apellidos" ng-require="true"/>
                            </div>

                            <div>
                                <input type="password" name="dni" placeholder="DNI" ng-require="true"/>
                            </div>

                            <div>    
                                <select class="selectfacturas" ng-require="true">
                                    <option value="1">Visa</option>
                                    <option value="2">MasterCard</option>
                                </select>
                            </div>

                            <div>
                                <input type="text" name="credito" placeholder="Tarjeta de credito" ng-require="true"/>
                            </div>
                            
                            <input type="submit" id="enviarDatos" name="submit" value="Enviar"/>
                        </fieldset>    
                    </form>
                </div><!-- /register -->
            </div><!-- /container -->
            <br><br><br><br>
            <hr>
        </div><!-- /Section 3 -->
        
        <!-- === Section 4 === -->
        <div id="section4">         <!--  class="slide story" id="slide-10" data-slide="10" -->
            <div class="container">
                <div class="title">
                    <h1>Confirmar el pago</h1>                
                    <br>
                    <br>
                </div><!-- /title -->
                <div id="factura">                    
                    <form action="" method="post" ng-controller="formReceipt" name="frm">
                        <fieldset>
                            <legend>Factura del usuario</legend>
                            <div><label class="textofactura">Nombre</label><br>
                                <input type="text" name="nombre_factura" placeholder="Ana"/>
                            </div>
                            <div><label class="textofactura">Apellidos</label><br>
                                <input type="text" name="apellidos_factura" placeholder="García Torres"/>
                            </div>
                            <div><label class="textofactura">DNI</label><br>
                                <input type="password" name="dni_factura" placeholder="123456789S"/>
                            </div>

                            <div><label class="textofactura">Forma de pago</label><br>
                                <input type="text" name="factura_tarjeta" placeholder="Visa - MasterCard - AmericanExpress"/>
                            </div>

                            <div><label class="textofactura">Tarifa seleccionada</label><br>
                                <input type="text" name="tarifa_factura" placeholder="VeDa Basic"/>
                            </div>

                            <label class="textofactura" id="advasdaertencia">Aseg&uacute;rese de que todos los campos son correctos antes de confirmar el env&iacute;o del formulario</label><br>
                            <input type="submit" id="enviarFactura" name="submit" value="Enviar"/>

                        </fieldset>    
                    </form>
                </div><!-- /receipt -->                                
            </div><!-- /container -->
            <br><br><br><br>
            <p>caguen deeeu!</p>             
        </div><!-- /Section 4 -->
 
    <script>
        function formCtrl($scope){
            $scope.onSubmit = function(){
                alert("form submitted");
            };
        };
    </script>