
	<div class="navbar navbar-fixed-top" data-activeslide="1">
		<div class="container">
		
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<!-- icon-home icon-user icon-briefcase icon-heart icon-gears icon-envelope-->
		

        <div class="nav-collapse collapse navbar-responsive-collapse">
            <a  id="menu-link-1" href="#slide-1" title="Symphone"><img id="logoSym" ng-src="/bundles/frontend/images/logo_gran.png"></a>

            <ul class="nav row">
                    <li ng-repeat="data in myData.menu"
                        class="col-12 col-sm-2"
                        data-slide="[[ data.id ]]">
                        <a id="menu-link-[[ data.id ]]"  click="#slide-[[ data.id ]]" title="Next Section">
                            <span class="icon [[ data.icono]]"></span> [[ data.nombre ]]</span>
                        </a>
                    </li>


                    <!--
                    <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-circle"></span> <span class="text">HOME</span></a></li>
                    <li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-home"></span> <span class="text">ABOUT US</span></a></li>
                    <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">PORTFOLIO</span></a></li>
                    <li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="icon icon-gears"></span> <span class="text">PROCESS</span></a></li>
                    <li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-heart"></span> <span class="text">CLIENTS</span></a></li>
                    <li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
                    -->
                </ul>

                <div class="row">
                    <div class="col-sm-2 active-menu"></div>
                </div>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->
        
        
        
	<!-- === Arrows === -->
	<div id="arrows">
		<div id="arrow-up" class="disabled"></div>
		<div id="arrow-down"></div>
		<div id="arrow-left" class="disabled visible-lg"></div>
		<div id="arrow-right" class="disabled visible-lg"></div>
	</div><!-- /.arrows -->
	
	
	<!-- === MAIN Background === -->
	<div class="slide story" id="slide-1" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-titulo"><img id="logo_inicio" ng-src="/bundles/frontend/images/logo_gran.png">Wifibytes</h1>
					<!--h4 class="font-semibold">Movimiento <span class="font-thin">es</span> libertad.</h4-->
					<br>
					<br>
				</div><!-- /col-12 -->
			</div><!-- /row -->
			<div id="home-row-2" class="row clearfix">
				<div class="tarifasPromo1">
				<a ng-href="http://web.miguelet.ovh/contractes">
						<div id="container1" >
						<span class="tituloPromo">VeDa mini</span><br><br>
						<span class="importantePromo">100&nbsp;</span><span class="textoPromo1">minutos de voz</span><br>
						<span class="textoPromo2">Sin establecimiento de llamada</span><br>
						<span class="precioPromo">7,50€/<span class="precioPromo2">mes</span></span>
					</div></a>
				</div>
				<div class="tarifasPromo2">
					<div id="container2">
						<span class="tituloPromo">VeDa Gold</span><br><br>
						<span class="importantePromo">1,5GB</span><span class="textoPromo1"> para lo que quieras</span><br>
						<span class="textoPromo2">Llama sin l&iacute;mites</span><br>
						<span class="precioPromo">22,95€/<span class="precioPromo2">mes</span></span>
					</div>
				</div>
				<!--div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="images/s02.png"></div><span class="TextInfo">SIN ESTABLECIMIENTO</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="images/s01.png"></div><span class="TextInfo2">TARIFAS</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="images/s03.png"></div><span class="TextInfo">SMARTPHONES</span></div-->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide1 -->
	
	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-promociones">Descubre nuestras &uacute;ltimas promociones</div>
			</div><!-- /row -->
			<!-- /row -->
			<div class="row content-row">
				<div class="col-12 col-lg-3 col-sm-6">
					<div class="promociones_caja">
						<p class="promociones_nombre">Xiaomi Mi3</p>
						<div class="promociones_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo4.jpg"></div>
						<div class="promociones_precio">
							<div class="promociones_precio_titulo">
								Precio
							</div>
							<div class="promociones_precio_cantidad">
								350€
							</div>
						</div>
						<input class="promociones_boton" type="button" value="Comprar" />
					</div>
					<!--p><i class="icon icon-eye-open"></i></p>
					<h2 class="font-thin">Visual <span class="font-semibold">Identity</span></h2>
					<h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4-->
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<div class="promociones_caja">
						<p class="promociones_nombre">BQ Aquaris E4</p>
						<div class="promociones_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo1.jpg"></div>
						<div class="promociones_precio">
							<div class="promociones_precio_titulo">
								Precio
							</div>
							<div class="promociones_precio_cantidad">
								135€
							</div>
						</div>
						<input class="promociones_boton" type="button" value="Comprar" />
					</div>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<div class="promociones_caja">
						<p class="promociones_nombre">Wiko Darkmoon</p>
						<div class="promociones_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo2.jpg"></div>
						<div class="promociones_precio">
							<div class="promociones_precio_titulo">
								Precio
							</div>
							<div class="promociones_precio_cantidad">
								180€
							</div>
						</div>
						<input class="promociones_boton" type="button" value="Comprar" />
					</div>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<div class="promociones_caja">
						<p class="promociones_nombre">Wiko Highway</p>
						<div class="promociones_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo3.jpg"></div>
						<div class="promociones_precio">
							<div class="promociones_precio_titulo">
								Precio
							</div>
							<div class="promociones_precio_cantidad">
								275€
							</div>
						</div>
						<input class="promociones_boton" type="button" value="Comprar" />
					</div>
				</div><!-- /col12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide2 -->
	
	<!-- === SLide 3 - Portfolio -->
	<div class="slide story" id="slide-catalogo" data-slide="3">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-promociones">Cat&aacutelogo WifiBytes</div>
			</div>
				<div class="row content-row">
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="col-12 font-catalogo">Smartphones</div>
						<h2 class="font-thin">Terminales actuales</h2>
						<h4 class="font-thin">Elige el tel&eacutefono que mejor se adapte a ti</h4>
					</div>
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="catalogo_caja">
							<p class="catalogo_nombre">Smartphone1</p>
							<div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo3.jpg"></div>
							<input class="catalogo_boton" type="button" value="+ Info" />
						</div>
					</div>
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="catalogo_caja">
							<p class="catalogo_nombre">Smartphone2</p>
							<div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo3.jpg"></div>
							<input class="catalogo_boton" type="button" value="+ Info" />
						</div>
					</div>
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="col-12 font-catalogo">En pruebas</div>
						<h4 class="font-thin">Colocar acceso a cat&aacutelogo de Smartphones aqu&iacute</h4>
					</div>
				</div>
				<div class="row content-row">
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="col-12 font-catalogo">Tablets</div>
						<h2 class="font-thin">Navega por Internet a lo grande</h2>
						<h4 class="font-thin">Tablets de confianza elegidos por Wifibytes</h4>
					</div>
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="catalogo_caja">
							<p class="catalogo_nombre">Tablet1</p>
							<div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo1.jpg"></div>
							<input class="catalogo_boton" type="button" value="+ Info" />
						</div>
					</div>
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="catalogo_caja">
							<p class="catalogo_nombre">Tablet2</p>
							<div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo1.jpg"></div>
							<input class="catalogo_boton" type="button" value="+ Info" />
						</div>
					</div>
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="col-12 font-catalogo">En pruebas</div>
						<h4 class="font-thin">Colocar acceso a cat&aacutelogo de Tablets aqu&iacute</h4>
					</div>
				</div>
				<div class="row content-row">
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="col-12 font-catalogo">Accesorios</div>
						<h2 class="font-thin">Para todo nuestro cat&aacutelogo</h2>
						<h4 class="font-thin">Personaliza tu dispositivo con nuestros productos</h4>
					</div>
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="catalogo_caja">
							<p class="catalogo_nombre">Accesorios1</p>
							<div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo4.jpg"></div>
							<input class="catalogo_boton" type="button" value="+ Info" />
						</div>
					</div>
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="catalogo_caja">
							<p class="catalogo_nombre">Accesorios2</p>
							<div class="catalogo_imagen"><img ng-src="/bundles/frontend/images/promociones/prueba_promo4.jpg"></div>
							<input class="catalogo_boton" type="button" value="+ Info" />
						</div>
					</div>
					
					<div class="col-12 col-lg-3 col-sm-6">
						<div class="col-12 font-catalogo">En pruebas</div>
						<h4 class="font-thin">Colocar acceso a cat&aacutelogo de accesorios aqu&iacute</h4>
					</div>
				</div>
			</div><!-- /row -->
		</div><!-- /container -->
	
	<!-- === Slide 4 - Process === -->
	<div class="slide story" id="slide-4" data-slide="4">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-tarifas">Tarifas Wifibytes</span></div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-thin">Sin establecimiento de llamada, para siempre</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2">
					<p><h2 class="font-thin">Ve Bono Basic</h2></p>
					<h2 class="font-thin">100 min/voz</h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2">
					<p><h2 class="font-thin">Ve Bono Silver</h2></p>
					<h2 class="font-thin">300 min/voz</h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2">
					<p><h2 class="font-thin">VeDa Mini</h2></p>
					<h2 class="font-thin">300 MB</h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2">
					<p><h2 class="font-thin">VeDa Basic</h2></p>
					<h2 class="font-thin">1,2 GB</h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2">
					<p><h2 class="font-thin">VeDa Silver</h2></p>
					<h2 class="font-thin">1,2 GB</h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
				</div><!-- /col12 -->
				<!--div class="col-12 col-sm-2">
					<p><h2 class="font-thin">VeDa Gold</h2></p>
					<h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
				</div--><!-- /col12 -->
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide4 -->
	
	<!-- === Slide 5 === -->
	<div class="slide story" id="slide-5" data-slide="5">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-promociones">Cobertura</div>
			</div><!-- /row -->
			<div class="row line-row">
				<img ng-src="/bundles/frontend/images/WifiBytesCobertura.png">
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<h4 class="cobertura_texto">Gracias a la red de telefonía de Orange podemos ofrecerte cobertura móvil en el <span class='porcentaje_cobertura'>99%</span> del territorio Español y en la mayoría de países del resto del mundo.<br><br> Si quieres consultar la cobertura de una zona concreta del mapa, <a href="http://mapacobertura.orange.es/GMAPSCOV_v312_UMTS/" target="_blank"><span class='enlace_cobertura'>pulsa aquí.</span></a></h4><br>
					<br>
					<br>
					<img ng-src="/bundles/frontend/images/SpainWifiBytes.png">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<!--div class="row content-row">
				<div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2"><img src="images/client01.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client02.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client03.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client04.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client05.png" alt=""></div>
				<div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
			</div--><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide5 -->
	
	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-light">Dejanos un <span class="font-semibold">mensaje</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">Puede encontrarnos en cualquier lugar, basta con pulsar un botón y estamos allí</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
					<span class="hover-text font-light ">+44 4839-4343</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
					<span class="hover-text font-light ">munter@blacktie.co</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
					<span class="hover-text font-light ">London, England<br>zip code 98443</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
					<span class="hover-text font-light ">facebook/blacktie_co</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
					<span class="hover-text font-light ">@BlackTie_co</span></a>
				</div><!-- /col12 -->
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Slide 6 -->