<div class="navbar navbar-fixed-top" data-activeslide="1">
	<div class="container">

		<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		</button>

                
		<!-- icon-home icon-user icon-briefcase icon-heart icon-gears icon-envelope-->
		<div class="nav-collapse collapse navbar-responsive-collapse">
		<a id="menu-link-1" click="#caracteristicas" title="Symphone"><img id="logoSym" ng-src="/bundles/frontend/images/logoSymphone.png"></a>
		<a id="menu-link-0" click="#" title="smartphone"><span class="smartphone">[[myData.telefono[0].nombre]]</span></a>
			<ul class="nav row">
                            <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-2" ng-href="http://web.miguelet.ovh/" title="Inicio"><span class="icon icon-home"></span>&nbsp;<span class="text">INICIO</span></a></li>
                            <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-3" click="#caracteristicas" title="Caracter&iacute;sticas"><span class="icon icon-home"></span>&nbsp;<span class="text">CARACTER&Iacute;STICAS</span></a></li>
                            <li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-4" click="#disenio" title="Disenio"><span class="icon icon-star"></span>&nbsp;<span class="text">DISEÑO</span></a></li>
                            <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-5" click="#especificaciones" title="Especificaciones"><span class="icon icon-mobile-phone"></span>&nbsp;<span class="text">ESPECIFICACIONES</span></a></li>
                            <li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-6" click="#slide-4" title="Accesorios"><span class="icon icon-phone"></span>&nbsp;<span class="text">ACCESORIOS</span></a></li>
			</ul>                
		
			<div class="row">
					<div class="col-sm-2 active-menu"></div>
			</div>
		
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div><!-- /.navbar -->

<!-- === Arrows === -->
<div id="arrows">
		<div id="arrow-up" class="disabled"></div>
		<div id="arrow-down"></div>
		<div id="arrow-left" class="disabled visible-lg"></div>
		<div id="arrow-right" class="disabled visible-lg"></div>
</div><!-- /.arrows -->


<!-- === MAIN Background === -->
<div class="slide story" id="caracteristicas" data-slide="1">
	<div class="container">
		<div id="imgSmartphone" class="row clearfix"> </div><!-- /row -->
		<div id="caractSmartphone" class="row clearfix">                    
			<dl>
				<dt>Modelo:</dt>
					<dd>Mi3222222222222222222</dd>
				<dt>Dimensiones:</dt>
					<dd>[[myData.telefono[0].dimensionesMovil]]</dd>
				<dt>Peso:</dt>
					<dd>[[myData.telefono[0].pesoMovil]]</dd>
				<dt>Sistema Operativo:</dt>
					<dd>[[myData.telefono[0].sistemaOperativo]]</dd>
				<dt>Tamaño de pantalla</dt>
					<dd> [[myData.telefono[0].dimensiones]]</dd>
                                        
				<dt>Resolución de pantalla:</dt>
					<dd>[[myData.telefono[0].resolucion]]</dd>
				<dt>Procesador:</dt>
					<dd>[[myData.telefono[0].cpu]]</dd>
				<dt>Memoria RAM:</dt>
					<dd>[[myData.telefono[0].ram]]</dd>
				<dt>Almacenamiento:</dt>
					<dd>[[myData.telefono[0].memoriaInterna]]</dd>
				<dt>Cámara trasera:</dt>
					<dd>[[myData.telefono[0].camaraTrasera]]</dd>
			</dl>
			<hr>
			<span id="price">229,99€ &nbsp;&nbsp;&nbsp;</span><button id="buy">COMPRAR</button>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide1 -->

<!-- === Slide 2 === -->
<div class="slide story" id="disenio" data-slide="2">
	<div class="container">
		<div id="designSmartphone">
			
		</div><!-- /row -->                
	</div><!-- /container -->
</div><!-- /slide2 -->

<!-- === SLide 3 - Specifications -->
<div class="slide story" id="especificaciones" data-slide="3">
	<div id="specifics-cont">
		<h3>Xiaomi MI3 16Gb Snapdragon</h3>
		<div id="cont" class="container">
			<div id="one">
				<ul>
					<li><strong>Modelo:&nbsp;</strong>Mi343</li>
					<li><strong>Tipo:&nbsp;</strong>Smartphone</li>
					<li><strong>Dimensiones:&nbsp;</strong>[[myData.telefono[0].dimensionesMovil]]</li>
					<li><strong>Peso:&nbsp;</strong>[[myData.telefono[0].pesoMovil]]</li>
					<li><strong>Sistema Operativo:&nbsp;</strong> [[myData.telefono[0].sistemaOperativo]] </li>
					<li><strong>Tamaño de pantalla:&nbsp;</strong>[[myData.telefono[0].dimensiones]]</li>
					<li><strong>Resolución de pantalla:&nbsp;</strong>[[myData.telefono[0].resolucion]] </li>
					<li><strong>Procesador:&nbsp;</strong> [[myData.telefono[0].cpu]]</li>
					<li><strong>Memoria RAM:&nbsp;</strong>[[myData.telefono[0].ram]]</li>
					<li><strong>Almacenamiento:&nbsp;</strong> [[myData.telefono[0].memoriaInterna]]</li>
					<li><strong>Cámara trasera:&nbsp;</strong> [[myData.telefono[0].camaraTrasera]]</li>
					<li><strong>Cámara frontal:&nbsp;</strong> [[myData.telefono[0].camaraFrontal]]</li>
					<li><strong>Video:&nbsp;</strong> [[myData.telefono[0].resolucionVide]]</li>
					<li><strong>Bateria:&nbsp;</strong> [[myData.telefono[0].tipoBateria]]</li>
				</ul>
			</div>
			<div id="two">
				<ul>                            
					<li><strong>Conectividad inhalámbrica/redes:&nbsp;</strong> [[myData.telefono[0].conectividad]]</li>
					<li><strong>3G:&nbsp;</strong>WCDMA</li>
					<li><strong>Conectores de datos/A-V:&nbsp;</strong>Micro USB, Jack 3,5mm</li>
					<li><strong>Sensores:&nbsp;</strong> [[myData.telefono[0].sensores]]</li>
					<li><strong>Colores:&nbsp;</strong>Negro, Blanco y Plata</li>
					<li><strong>Idioma:&nbsp;</strong>[[myData.telefono[0].idiomas]]</li>
					<li><strong>Recomendación:&nbsp;</strong>Utilizar con sim normal</li>
					<li><strong>Protector de pantalla:&nbsp;</strong>Incluido</li>
					<li><strong>Cargador europeo:&nbsp;</strong>Incluido</li>
					<li><strong>Envío:&nbsp;</strong>Incluido</li>
					<li><strong>Testeo e instalación de ROM:&nbsp;</strong>Incluido</li>
					<li><strong>Promoción:&nbsp;</strong>Funda de regalo</li>                        
				</ul>
			</div>
		</div>
	</div><!-- /row -->
</div><!-- /slide3 -->

<!-- === Slide 4 - Process === -->
<div class="slide story" id="slide-4" data-slide="4">
	<div class="container">
		<div class="row title-row">
				<div class="col-12 font-thin">Nuestras <span class="font-semibold">tarifas</span></div>
		</div><!-- /row -->
		<div class="row line-row">
				<div class="hr">&nbsp;</div>
		</div><!-- /row -->
		<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-thin">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
		</div><!-- /row -->
		<div class="row content-row">
			<div class="col-sm-1 hidden-sm">&nbsp;</div>
			<div class="col-12 col-sm-2">
				<p><i class="icon icon-bolt"></i></p>
				<h2 class="font-thin">Listening <br><span class="font-semibold" >your</span></h2>
				<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2">
				<p><i class="icon icon-cog"></i></p>
				<h2 class="font-thin">Project<br><span class="font-semibold">discovery</span></h2>
				<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2">
				<p><i class="icon icon-cloud"></i></p>
				<h2 class="font-thin">Storming<br><span class="font-semibold">our brains</span></h2>
				<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2">
				<p><i class="icon icon-map-marker"></i></p>
				<h2 class="font-thin">Getting<br><span class="font-semibold">there</span></h2>
				<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2">
				<p><i class="icon icon-gift"></i></p>
				<h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
				<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content...</h4>
			</div><!-- /col12 -->
			<div class="col-sm-1 hidden-sm">&nbsp;</div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide4 -->